.frequent-requests {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(/img/frequent-requests/frequent-requests.png) center bottom 3em / 95% auto no-repeat, linear-gradient(to bottom, #ffc600, #ffe400);
}