.p-service-body__inner__img {
    width: 100%;
    height: 200px;
    margin-bottom: 2em;
}
.dismantling-bgc {
    background: url(/img/p-service-body__inner__img/dismantling-bgc.jpg) center / cover no-repeat;
}   
.trimming-bgc {
    background: url(/img/p-service-body__inner__img/trimming-bgc.jpg) center / cover no-repeat;
}
.wiring-bgc {
    background: url(/img/p-service-body__inner__img/wiring-bgc.jpg) center / cover no-repeat;
}
.heating-bgc {
    background: url(/img/p-service-body__inner__img/heating-bgc.jpg) center / cover no-repeat;
}
.ventilation-bgc {
    background: url(/img/p-service-body__inner__img/ventilation-bgc.jpg) center / cover no-repeat;
}
.design-bgc {
    background: url(/img/p-service-body__inner__img/design-bgc.jpg) center / cover no-repeat;
}
.commissioning-bgc {
    background: url(/img/p-service-body__inner__img/commissioning-bgc.jpg) center / cover no-repeat;
}
.instrumentation-bgc {
    background: url(/img/p-service-body__inner__img/instrumentation-bgc.jpg) center / cover no-repeat;
}
.sewage-and-water-disposal-bgc {
    background: url(/img/p-service-body__inner__img/sewage-and-water-disposal-bgc.jpg) center / cover no-repeat;
}
.steel-erection-bgc {
    background: url(/img/p-service-body__inner__img/steel-erection-bgc.jpg) center / cover no-repeat;
}
.water-supply-bgc {
    background: url(/img/p-service-body__inner__img/water-supply-bgc.jpg) center / cover no-repeat;
}
.conditioning-bgc {
    background: url(/img/p-service-body__inner__img/conditioning-bgc.jpg) center / cover no-repeat;
}