.p-service-body__grid__title {
    background-color: #FFAD58;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    padding: 0.5em 1em;
    color: #2F2F2F;
    transform: translate(-0.4em, 0.5em);
    display: inline-block;
}