.p-service-body__grid {
    width: 800px;
    height: 900px;
    display: grid;
    grid-template-areas:    "item-1 item-2 item-3"
                            "item-1 item-4 item-3"
                            "item-5 item-6 item-7"
                            "item-8 item-9 item-10"
                            "item-11 item-11 item-12";
    grid-gap: 20px;
    padding: 50px 0;
}