.p-service-body__inner__img {
    width: 100%;
    height: 200px;
    margin-bottom: 2em;
}
.dismantling-bgc {
    background: url(/img/p-service-body__inner__img/dismantling-bgc.jpg) center / cover no-repeat;
}   
.trimming-bgc {
        background: url(/img/p-service-body__inner__img/trimming-bgc.jpg) center / cover no-repeat;
}