.p-gallery-item-img-16 {
    background: url(/img/p-gallery-body/item-16.jpg) center / cover no-repeat;
}
.p-gallery-item-img-15 {
    background: url(/img/p-gallery-body/item-15.jpg) center / cover no-repeat;
}
.p-gallery-item-img-14 {
    background: url(/img/p-gallery-body/item-14.jpg) center / cover no-repeat;
}
.p-gallery-item-img-13 {
    background: url(/img/p-gallery-body/item-13.jpg) center / cover no-repeat;
}
.p-gallery-item-img-12 {
    background: url(/img/p-gallery-body/item-12.jpg) center / cover no-repeat;
}
.p-gallery-item-img-11 {
    background: url(/img/p-gallery-body/item-11.jpg) center / cover no-repeat;
}
.p-gallery-item-img-10 {
    background: url(/img/p-gallery-body/item-10.jpg) center / cover no-repeat;
}
.p-gallery-item-img-9 {
    background: url(/img/p-gallery-body/item-9.jpg) center / cover no-repeat;
}
.p-gallery-item-img-8 {
    background: url(/img/p-gallery-body/item-8.jpg) center / cover no-repeat;
}
.p-gallery-item-img-7 {
    background: url(/img/p-gallery-body/item-7.jpg) center / cover no-repeat;
}
.p-gallery-item-img-6 {
    background: url(/img/p-gallery-body/item-6.jpg) center / cover no-repeat;
}
.p-gallery-item-img-5 {
    background: url(/img/p-gallery-body/item-5.jpg) center / cover no-repeat;
}
.p-gallery-item-img-4 {
    background: url(/img/p-gallery-body/item-4.jpg) center / cover no-repeat;
}
.p-gallery-item-img-3 {
    background: url(/img/p-gallery-body/item-3.jpg) center / cover no-repeat;
}
.p-gallery-item-img-2 {
    background: url(/img/p-gallery-body/item-2.jpg) center / cover no-repeat;
}
.p-gallery-item-img-1 {
    background: url(/img/p-gallery-body/item-1.jpg) center / cover no-repeat;
}