.ourService {
    width: 100%;
    position: relative;
    background-image: url(/img/ourService/ourService-bgc.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    display: flex;
    align-items: center;
    height: calc(560px + 100px);
    padding: 50px 0;
}