.ourService {
    width: 100%;
    position: relative;
    background-image: url(/img/ourService/ourService-bgc.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}