.winners__header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8em;
    padding: 1.3em 6em;
    border-radius: 10px;
    box-shadow: 0 0 .5em rgba(#000, .2);
    margin-bottom: 1em;
}