@font-face {
    font-family: "Museo Sans 300";
    src: url("/fonts/MuseoSansCyrl_300.otf");
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: "Museo Sans 500";
    src: url("/fonts/MuseoSansCyrl_500.otf");
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: "Museo Sans 700";
    src: url("/fonts/MuseoSansCyrl_700.otf");
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: "Museo Sans 900";
    src: url("/fonts/MuseoSansCyrl_900.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "RussoOne";
  src: url("/fonts/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}