@media(max-width:1700px) {
    .container {
        width: 1100px;
    }
    .header {
        height: 90px;
        &__item {
            padding-left: 32px;
            &__link {
                font-size: 17px;
            }
            &__subtitle {
                font-size: 15px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 340px;
            }
            &--active {
                height: 390px !important;
            }
            font-size: 17px;
        }
        &__btn {
            font-size: 19px;
        }
    }
    .logo--wrap {
        width: 225px;
    }
    .tel {
        &::before {
            width: 23px;
            height: 23px;
        }
    }
    .mail {
        &::before {
            width: 23px;
            height: 23px;
        }
    }
    .burger {
        &__title {
            font-size: 19px;
        }
    }
    .main {
        margin-top: 90px;
        &__title {
            font-size: 32px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .banner {
        height: 680px;
        &__content {
            width: 420px;
        }
        &__title {
            font-size: 44px;
        }
        &__desc {
            font-size: 19px;
        }
        &__slider {
            width: 750px;
        }
    }
    .slider {
        &__item__img {
            height: 575px;   
        }
        &__pagintaions {
            left: 85px;
            bottom: 50px;
            button {
                width: 19px;
                height: 19px;
            }
        }
        &__content {
            bottom: 50px;
            left: 48%;
            width: 280px;
            padding: 65px 0px;
            &__title {
                font-size: 35px;
            }
            &__subtitle {
                font-size: 19px;
            }
        }
    }
    .orange-rectangle {
        &::before {
            top: 100px;
            width: 75px;
            height: 320px;
        }
    }
    .btn {
        font-size: 15px;
    }
    .ourService {
        padding: 45px 0;
        height: calc(470px + 90px);
        &__widget__img {
            width: 700px;
        }
        &__container {
            width: calc(100% - 700px);
        }
        &__title, &__subtitle {
            padding-left: 50px;
        }
        &__info {
            margin: 1.4em 0;
        }
        &__list {
            &--default {
                width: 315px;
                padding: 22px 18px 22px 50px;
            }
            &--white {
                width: 380px;
                padding: 33px 60px;
            }
            &__title {
                font-size: 17px;
            }
            &__link {
                font-size: 15px;
                padding-left: 18px;
                &::before {
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
    .about {
        height: calc(500px + 185px);
        padding: 45px 0 90px;
        &__widget {
            top: 80px;
            &__img {
                width: 720px;
            }
        }
        &__content {
            width: 450px;
        }
        &__desc {
            font-size: 17px;    
        }
    }
    .become-our-client {
        &__container {
            padding: 45px 0;
        }
        &__title {
            font-size: 42px;
            margin-bottom: 1.3em;
            &::before {
                height: .2em;
                bottom: -.4em;
            }
        }
        &__item {
            padding-left: 50px;
            &__img {
                width: 45px;
            }
            &__title {
                font-size: 19px;
            }
            &__desc {
                font-size: 14px;
            }
        }
    }
    .p-top-banner {
        height: 280px;
    }
    .p-service-body {
        &__aside {
            width: 350px;
            padding: 23px 43px;
            margin-top: 45px;
            &__title {
                font-size: 17px;
            }
            &__nav {
                font-size: 15px;
            }
            &__button {
                font-size: 15px;
            }
        }
        &__grid {
            width: 700px;
            height: 800px;
            grid-gap: 18px;
            padding: 45px 0;
            &__title {
                font-size: 15px;
            }
        }
        &__inner {
            width: 700px;
            font-size: 15px;
            &__img {
                height: 180px;
            }
            &__gallery {
                grid-gap: 9px;
            }
        }
    }
    .p-title {
        font-size: 36px;
        width: 700px;
    }
    .footer__info {
        padding: 20px 20px 50px 0;
        font-size: 13px;
    }
    .footer__nav {
        padding: 2em 4em 5em;
        &__main-link {
            font-size: 1.3em;
        }
        &__link {
            font-size: 1.05em;
        }
    }
    .footer__other {
        padding: 2em 0 5em 4em;
        &__title {
            font-size: 1.3em;
        }
        &__docs__link {
            font-size: 1.05em;
        }
        &__social__link__img {
            width: 32px;
            margin-right: 9px;
        }
        &__copyright {
            &__text {
                font-size: 1.05em;
            }
            &__img {
                width: 85px;
            }
        }
    }
    .triangle-title {
        &--wrap {
            height: 170px;
        }
        font-size: 4.2em;
    }
    .company-desc {
        margin: 4.6em 0;
        &__container {
            font-size: 1.5em;
            padding: 6.6em;
        }
    }
    .company-reasons {
        margin-bottom: 9em;
        &__title {
            font-size: 3em;
        }
        &__item {
            font-size: 1.5em;
            &__img {
                width: 160px;
            }
            &__text {
                border-radius: 18px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 9em;
        &__img {
            height: 108%;
            right: 47%;
            top: -3%;
        }
        &__form {
            padding: 3.7em 2.8em;
            &__title {
                font-size: 2.6em;
                border-radius: 18px;
            }
        }
        &__label {
            font-size: 1.7em;  
        }
        .company-feedback__label textarea {
            height: 165px;
        }
        &__btn {
            font-size: 1.7em;
            border-radius: 9px;
        }
    }
    .stocks-body {
        margin: 4.6em 0 9em;
    }
    .stocks-info {
        padding: 4.5em 7em 2.8em;
        &__title {
            font-size: 3em;
        }
        &__desc {
            font-size: 2.1em;
        }
        &__discounts{
            padding: 4.3em 5.2em;
            &__value {
                font-size: 5.3em;
            }
            &__text {
                font-size: 1.7em;
            }
        }
        &__text-footer {
            font-size: 2.1em;
        }
    }
    .stocks-form {
        font-size: 1.7em;
        &__textarea-label textarea {
            height: 170px;
        }
    }
    .p-body {
        padding: 45px 0;
        &::before {
            width: calc((100% - 1100px) / 2 + 350px);
            height: 460px;
        }
        &__content {
            margin-bottom: 7em;  
        }
        &__contacts {
            width: 330px;
            font-size: 1.8em;
        }
    }
    .p-info-body {
        &::after {
            width: calc((100% - 1100px) / 2 + 700px);
            top: 160px;
        }
        &__right {
            width: 700px;
        }
        &__inner {
            margin-top: 55px;
            font-size: 1.7em;
        }
        &__form {
            font-size: 1.7em;
            &__textarea-label textarea {
                height: 170px;
            }
        }
    }
}
@media(max-width:1500px) {
    .main {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .banner {
        height: 600px;
        &__content {
            width: 380px;
        }
        &__title {
            font-size: 38px;
        }
        &__desc {
            font-size: 17px;
        }
        &__slider {
            width: 700px;
        }
    }
    .slider {
        &__item__img {
            height: 500px;   
        }
        &__pagintaions {
            left: 75px;
            bottom: 42px;
            button {
                width: 18px;
                height: 18px;
            }
        }
        &__content {
            bottom: 42px;
            left: 45%;
            width: 250px;
            padding: 55px 0px;
            &__title {
                font-size: 32px;
            }
            &__subtitle {
                font-size: 18px;
            }
        }
    }
    .orange-rectangle {
        &::before {
            top: 80px;
            width: 60px;
            height: 290px;
        }
    }
    .btn {
        font-size: 14px;
    }
    .ourService {
        padding: 40px 0;
        height: calc(410px + 80px);
        &__widget__img {
            width: 650px;
        }
        &__container {
            width: calc(100% - 650px);
        }
        &__title, &__subtitle {
            padding-left: 35px;
        }
        &__info {
            margin: 1.3em 0;
        }
        &__list {
            &--default {
                width: 275px;
                padding: 19px 16px 19px 35px;
            }
            &--white {
                width: 335px;
                padding: 28px 50px;
            }
            &__title {
                font-size: 16px;
            }
            &__link {
                font-size: 14px;
                padding-left: 16px;
                &::before {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
    .about {
        height: calc(500px + 170px);
        padding: 40px 0 80px;
        &__widget {
            &__img {
                width: 670px;
            }
        }
        &__content {
            width: 425px;
        }
        &__desc {
            font-size: 16px;    
        }
    }
    .become-our-client {
        &__container {
            padding: 40px 0;
        }
        &__title {
            font-size: 36px;
        }
        &__item {
            padding-left: 45px;
            &__img {
                width: 40px;
            }
            &__title {
                font-size: 17px;
            }
            &__desc {
                font-size: 13px;
            }
        }
    }
}
@media(max-width:1300px) {
    .container {
        width: 900px;
    }
    .header {
        height: 80px;
        &__item {
            padding-left: 29px;
            &__link {
                font-size: 16px;
            }
            &__subtitle {
                font-size: 14px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 310px;
            }
            &--active {
                height: 370px !important;
            }
            font-size: 16px;
        }
        &__btn {
            font-size: 18px;
        }
    }
    .logo--wrap {
        width: 190px;
    }
    .tel {
        &::before {
            width: 21px;
            height: 21px;
        }
    }
    .mail {
        &::before {
            width: 21px;
            height: 21px;
        }
    }
    .burger {
        font-size: 15px;
        width: 45px;
        height: 38px;
        &__title {
            font-size: 18px;
        }
        &__item {
            width: 25px;
        }
        &--active {
            .burger__item--1 {
                transform: rotate(135deg) translate(7px, -7px);
            }
            .burger__item--3 {
                transform: rotate(-135deg) translate(7px, 7px);
            }
        }
    }
    .main {
        margin-top: 80px;
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .banner {
        height: 500px;
        &__content {
            width: 300px;
        }
        &__title {
            font-size: 33px;
        }
        &__desc {
            font-size: 16px;
        }
        &__slider {
            width: 550px;
        }
    }
    .slider {
        &__item__img {
            height: 400px;   
        }
        &__pagintaions {
            left: 50px;
            bottom: 30px;
            button {
                width: 17px;
                height: 17px;
                margin-right: 4px;
            }
        }
        &__content {
            bottom: 30px;
            left: 43%;
            width: 210px;
            padding: 45px 0px;
            &__title {
                font-size: 28px;
            }
            &__subtitle {
                font-size: 16px;
            }
        }
    }
    .orange-rectangle {
        &::before {
            top: 70px;
            width: 50px;
            height: 250px;
        }
    }
    .btn {
        font-size: 13px;
    }
    .ourService {
        padding: 35px 0;
        height: calc(360px + 70px);
        &__widget__img {
            width: 550px;
        }
        &__container {
            width: calc(100% - 550px);
        }
        &__title, &__subtitle {
            padding-left: 28px;
        }
        &__info {
            margin: 1.25em 0;
        }
        &__list {
            &--default {
                width: 240px;
                padding: 17px 15px 17px 28px;
            }
            &--white {
                width: 290px;
                padding: 27px 41px;
            }
            &__title {
                font-size: 15px;
            }
            &__link {
                font-size: 13px;
                padding-left: 14px;
                &::before {
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
    .about {
        height: calc(400px + 155px);
        padding: 35px 0 70px;
        &__widget {
            &__img {
                width: 550px;
            }
        }
        &__content {
            width: 380px;
        }
        &__desc {
            font-size: 15px;    
        }
    }
    .become-our-client {
        &__container {
            padding: 35px 0;
        }
        &__title {
            font-size: 32px;
            letter-spacing: 0.02em;
        }
        &__item {
            padding-left: 40px;
            &__img {
                width: 35px;
            }
            &__title {
                font-size: 16px;
            }
            &__desc {
                font-size: 12px;
            }
        }
    }
    .p-top-banner {
        height: 250px;
    }
    .p-service-body {
        &__aside {
            width: 290px;
            padding: 20px 35px;
            margin-top: 40px;
            &__title {
                font-size: 16px;
                letter-spacing: 0.01em;
            }
            &__nav {
                font-size: 14px;
            }
            &__button {
                font-size: 14px;
            }
        }
        &__grid {
            width: 570px;
            height: 720px;
            grid-gap: 16px;
            padding: 40px 0;
            &__title {
                font-size: 14px;
            }
        }
        &__inner {
            width: 570px;
            font-size: 14px;
            &__img {
                height: 155px;
            }
            &__gallery {
                grid-gap: 8px;
            }
        }
    }
    .p-title {
        font-size: 32px;
        width: 570px;
    }
    .footer__info {
        padding: 17px 17px 40px 0;
        font-size: 12px;
    }
    .footer__nav {
        padding: 1.7em 3em 4em;
        &__main-link {
            font-size: 1.2em;
        }
        &__link {
            font-size: 1.03em;
        }
    }
    .footer__other {
        padding: 1.7em 0 4em 3em;
        &__title {
            font-size: 1.2em;
        }
        &__docs__link {
            font-size: 1.03em;
        }
        &__social__link__img {
            width: 30px;
            margin-right: 8px;
        }
        &__copyright {
            &__text {
                font-size: 1.03em;
            }
            &__img {
                width: 80px;
            }
        }
    }
    .triangle-title {
        &--wrap {
            height: 160px;
        }
        font-size: 3.95em;
    }
    .company-desc {
        margin: 4.2em 0;
        &__container {
            font-size: 1.4em;
            padding: 6.2em;
        }
    }
    .company-reasons {
        margin-bottom: 8em;
        &__title {
            font-size: 2.8em;
        }
        &__item {
            font-size: 1.4em;
            &__img {
                width: 150px;
            }
            &__text {
                border-radius: 16px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 8em;
        &__img {
            height: 100%;
            right: 45%;
            top: 0%;
        }
        &__form {
            width: 48%;
            padding: 3.4em 0 3.4em 2.6em;
            &__title {
                font-size: 2.4em;
                border-radius: 16px;
            }
        }
        &__label {
            font-size: 1.6em;  
        }
        .company-feedback__label textarea {
            height: 150px;
        }
        &__btn {
            font-size: 1.6em;
            border-radius: 8px;
        }
    }
    .stocks-body {
        margin: 4.2em 0 8em;
    }
    .stocks-info {
        width: 85%;
        border-radius: 8px;
        padding: 4em 6em 2.6em;
        &__title {
            font-size: 2.8em;
        }
        &__desc {
            font-size: 2em;
        }
        &__discounts{
            border-radius: 8px;
            width: 75%;
            padding: 4.1em 4.9em;
            &__value {
                font-size: 5em;
                border-radius: 8px;
            }
            &__text {
                font-size: 1.6em;
            }
        }
        &__text-footer {
            font-size: 1.9em;
            width: 75%;
        }
    }
    .stocks-form {
        border-radius: 8px;
        width: 95%;
        font-size: 1.6em;
        &__label {
                &__input {
                    border-radius: 8px;
                }
        }
        &__textarea-label textarea {
            height: 160px;
            border-radius: 8px;
        }
        &__btn {
            border-radius: 8px;
        }
    }
    .p-body {
        padding: 40px 0;
        &::before {
            width: calc((100% - 900px) / 2 + 290px);
            height: 420px;
            top: 180px;
        }
        &__content {
            margin-bottom: 6em;  
        }
        &__contacts {
            width: 260px;
            margin-top: 220px;
            font-size: 1.4em;
        }
    }
    .p-info-body {
        &::after {
            width: calc((100% - 900px) / 2 + 570px);
            top: 140px;
        }
        &__right {
            width: 570px;
        }
        &__inner {
            margin-top: 45px;
            font-size: 1.5em;
        }
        &__form {
            font-size: 1.6em;
            &__textarea-label textarea {
                height: 160px;
            }
        }
    }
}
@media(max-width:1100px) {
    .container {
        width: 800px;
    }
    .header {
        height: 75px;
        &__item {
            padding-left: 27px;
            &__link {
                font-size: 15px;
            }
            &__subtitle {
                font-size: 13px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 290px;
            }
            &--active {
                height: 345px !important;
            }
            font-size: 15px;
        }
        &__btn {
            font-size: 16px;
        }
    }
    .logo--wrap {
        width: 160px;
    }
    .tel {
        &::before {
            width: 19px;
            height: 19px;
        }
    }
    .mail {
        &::before {
            width: 19px;
            height: 19px;
        }
    }
    .burger {
        font-size: 14px;
        width: 40px;
        height: 34px;
        &__title {
            font-size: 16px;
            margin-left: .5em;
        }
        &__item {
            width: 22px;
        }
        &--active {
            .burger__item--1 {
                transform: rotate(135deg) translate(6px, -7px);
            }
            .burger__item--3 {
                transform: rotate(-135deg) translate(6px, 6px);
            }
        }
    }
    .main {
        margin-top: 75px;
        &__title {
            font-size: 26px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .banner {
        height: 400px;
        &__content {
            width: 280px;
        }
        &__title {
            font-size: 30px;
        }
        &__desc {
            font-size: 15px;
        }
        &__slider {
            width: 480px;
        }
    }
    .slider {
        &__item__img {
            height: 330px;   
        }
        &__pagintaions {
            left: 35px;
            bottom: 20px;
            button {
                width: 15px;
                height: 15px;
            }
        }
        &__content {
            bottom: 20px;
            left: 40%;
            width: 195px;
            padding: 30px 0px;
            &__title {
                font-size: 26px;
            }
            &__subtitle {
                font-size: 15px;
            }
        }
    }
    .orange-rectangle {
        &::before {
            top: 60px;
            width: 35px;
            height: 210px;
        }
    }
    .ourService {
        padding: 30px 0;
        height: calc(330px + 60px);
        &__widget__img {
            width: 500px;
            margin-left: -100px;
        }
        &__container {
            width: calc(100% - 400px);
        }
        &__title, &__subtitle {
            padding-left: 23px;
        }
        &__info {
            margin: 1.2em 0;
        }
        &__list {
            &--default {
                width: 220px;
                padding: 15px 13px 15px 23px;
            }
            &--white {
                width: 270px;
                padding: 25px 37px;
            }
            &__title {
                font-size: 14px;
            }
            &__link {
                font-size: 12px;
                padding-left: 13px;
                &::before {
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
    .about {
        height: calc(400px + 140px);
        padding: 30px 0 60px;
        &__widget {
            &__img {
                width: 520px;
                margin-right: -100px;
            }
        }
        &__desc {
            font-size: 14px;    
        }
    }
    .become-our-client {
        &__container {
            padding: 30px 0;
        }
        &__title {
            font-size: 29px;
            letter-spacing: 0.01em;
        }
        &__content {
            flex-wrap: wrap;
        }
        &__item {
            flex-basis: 45%;
            padding-left: 40px;
            margin-bottom: 1.2em;
        }
    }
    .p-top-banner {
        height: 220px;
    }
    .p-service-body {
        &__aside {
            width: 260px;
            padding: 17px 30px;
            margin-top: 35px;
            &__title {
                font-size: 15px;
                letter-spacing: 0.01em;
            }
            &__nav {
                font-size: 13px;
            }
            &__button {
                border-radius: 7px;
                font-size: 13px;
            }
        }
        &__grid {
            width: 510px;
            height: 670px;
            grid-gap: 14px;
            padding: 35px 0;
            &__title {
                font-size: 13px;
            }
        }
        &__inner {
            width: 510px;
            font-size: 13px;
            &__img {
                height: 130px;
            }
            &__gallery {
                grid-gap: 7px;
            }
        }
    }
    .p-title {
        font-size: 28px;
        width: 510px;
    }
    .footer__info {
        flex-basis: 30%;
        padding: 15px 15px 30px 0;
    }
    .footer__nav {
        flex-basis: 45%;
        padding: 1.5em 2.5em 3em;
    }
    .footer__other {
        flex-basis: 25%;
        padding: 1.5em 0 3em 2.5em;
        &__top {
            flex-direction: column;
            align-items: flex-start;
        }
        &__dosc {
            margin-bottom: 2em
        }
         &__social__link--wrap {
            margin-top: 0.7em;
        }
        &__copyright {
            flex-direction: column-reverse;
            align-items: flex-start;
            &__text {
                font-size: 1.03em;
                margin-right: 0;
                margin-top: .4em;
            }
        }
    }
    .triangle-title {
        &--wrap {
            height: 150px;
        }
        font-size: 3.65em;
    }
    .company-desc {
        margin: 3.9em 0;
        &__container {
            font-size: 1.3em;
            padding: 5.8em;
        }
    }
    .company-reasons {
        margin-bottom: 7em;
        &__title {
            font-size: 2.6em;
        }
        &__item {
            font-size: 1.3em;
            &__img {
                width: 140px;
            }
            &__text {
                border-radius: 14px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 7em;
        &__img {
            height: 90%;
            right: 45%;
            top: 5%;
        }
        &__form {
            padding: 3.1em 0 3.1em 2.4em;
            &__title {
                font-size: 2.2em;
                border-radius: 14px;
            }
        }
        &__label {
            font-size: 1.5em;  
        }
        .company-feedback__label textarea {
            height: 140px;
        }
        &__btn {
            font-size: 1.5em;
            border-radius: 7px;
        }
    }
    .stocks-body {
        margin: 3.8em 0 7em;
    }
    .stocks-info {
        width: 85%;
        padding: 4.5em 5.5em 2.4em;
        &__title {
            font-size: 2.6em;
        }
        &__desc {
            font-size: 1.8em;
        }
        &__discounts{
            border-radius: 7px;
            padding: 3.9em 4.6em;
            &__value {
                font-size: 4.5em;
                border-radius: 7px;
            }
            &__text {
                font-size: 1.5em;
            }
        }
        &__text-footer {
            font-size: 1.8em;
        }
    }
    .stocks-form {
        border-radius: 7px;
        font-size: 1.5em;
        padding: 2em 6em;
        &__label {
                &__input {
                    border-radius: 7px;
                }
        }
        &__textarea-label textarea {
            height: 150px;
            border-radius: 7px;
        }
        &__btn {
            border-radius: 7px;
        }
    }
    .p-body {
        padding: 35px 0;
        &::before {
            width: calc((100% - 800px) / 2 + 260px);
            height: 370px;
            top: 160px;
        }
        &__content {
            margin-bottom: 5em;  
        }
        &__contacts {
            width: 240px;
            margin-top: 200px;
            font-size: 1.3em;
        }
    }
    .p-info-body {
        &::after {
            width: calc((100% - 800px) / 2 + 510px);
            height: 460px;
            top: 120px;
        }
        &__right {
            width: 510px;
        }
        &__inner {
            margin-top: 38px;
            font-size: 1.3em;
        }
        &__form {
            font-size: 1.5em;
            padding: 2.5em 4em;
            &__textarea-label textarea {
                height: 150px;
            }
        }
    }
}
@media(max-width:900px) {
    .container {
        width: 650px;
    }
    .header {
        height: 65px;
        &__item {
            padding-left: 25px;
            &__link {
                font-size: 13px;
            }
            &__subtitle {
                font-size: 12px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 270px;
            }
            &--active {
                height: 320px !important;
            }
            font-size: 14px;
        }
        &__btn {
            font-size: 14px;
            padding: 0.45em 1.5em;
        }
    }
    .logo--wrap {
        width: 120px;
    }
    .tel {
        &::before {
            width: 18px;
            height: 18px;
        }
    }
    .mail {
        &::before {
            width: 18px;
            height: 18px;
        }
    }
    .burger {
        font-size: 14px;
        width: 35px;
        height: 32px;
        &__title {
            display: none;
        }
        &__item {
            width: 17px;
        }
        &--active {
            .burger__item--1 {
                transform: rotate(135deg) translate(7px, -7px);
            }
            .burger__item--3 {
                transform: rotate(-135deg) translate(5px, 5px);
            }
        }
    }
    .main {
        margin-top: 65px;
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    .banner {
        height: 690px;
        align-items: flex-start;
        padding: 40px 0;
        &__container {
            justify-content: center;
            align-items: flex-start;
        }
        &__content {
            width: 75%;
        }
        &__title {
            font-size: 30px;
        }
        &__desc {
            font-size: 15px;
        }
        &__slider {
            width: 650px;
            top: 290px;
            left: calc((100% - 650px) / 2);
        }
    }
    .slider {
        &__item__img {
            height: 360px;  
            width: 100%;
            object-fit: cover;
        }
        &__pagintaions {
            left: 35px;
            bottom: 20px;
            button {
                width: 15px;
                height: 15px;
                margin-right: 4px;
            }
            .slick-active {
                button {
                    border: 3px solid #FBA549;
                }
            }
        }
        &__content {
            left: 50%;
        }
    }
    .orange-rectangle {
        &::before {
            top: 50%;
            transform: translateY(-50%);
            width: calc((100vw - 650px) / 2);
            height: 70%;
        }
        &::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            width: calc((100vw - 650px) / 2);
            height: 70%;
            background: #FBA549;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }
    .ourService {
        padding: 40px 0;
        height: initial;
        flex-direction: column-reverse;
        justify-content: flex-start;
        &__widget__img {
            width:650px;
            margin-left: 0px;
        }
        &__container {
            width: 100%;
            align-items: center;
            height: initial;
        }
        &__content {
            align-items: center;
            margin-bottom: 30px;
        }
        &__title, &__subtitle {
            width: 650px;
            padding-left: 0px;
        }
        &__info {
            padding-left: calc((100% - 650px)/2);
        }
        &__list {
            &--default {
                padding: 15px 13px 15px 0px;
            }
        }
    }
    .about {
        height: calc(760px + 80px);
        padding: 40px 0;
        align-items: flex-start;
        &__widget {
            top: 370px;
            width: 650px;
            left: calc((100% - 650px) / 2);
            &__img {
                width: 100%;
                margin-right: 0px;
            }
        }
        &__container {
            height: initial;
            justify-content: center;
        }
        &__content {
            width: 75%;
        }  
    }
    .p-top-banner {
        height: 190px;
    }
    .p-service-body {
        &__aside {
            width: 250px;
            padding: 15px 25px;
            margin-top: 30px;
            &__title {
                font-size: 14px;
            }
            &__nav {
                font-size: 12px;
            }
            &__button {
                font-size: 12px;
            }
        }
        &__grid {
            width: 380px;
            height: 900px;
            grid-template-areas:
                "item-7 item-8"
                "item-1 item-2"
                "item-1 item-4"
                "item-9 item-10"
                "item-5 item-3"
                "item-6 item-3"
                "item-11 item-12";
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 12px;
            padding: 30px 0;
        }
        &__inner {
            width: 380px;
            font-size: 12px;
            &__img {
                height: 105px;
                margin-bottom: 1.5em;
            }
            &__gallery {
                margin: 1em 0;
                grid-gap: 6px;
                width: 100%;
                grid-template-areas:
                    "img-1 img-2"
                    "img-3 img-4"
                    "video video";
                grid-template-rows: 100px 100px 150px;
                grid-template-columns: 1fr 1fr;
            }
            &__list__item {
                margin-bottom: 1.2em;
            }
        }
    }
    .p-title {
        font-size: 26px;
        width: 380px;
    }
    .footer__container {
        flex-wrap: wrap;
    }
    .footer__info {
        flex-basis: 50%;
    }
    .footer__nav {
        flex-basis: 100%;
        order: 3;
        position: relative;
        padding: 1.5em 0 3em;
        z-index: 0;
        &::before {
            content: '';
            position: absolute;
            left: 99%;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #F17E01;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            right: 99%;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #F17E01;
            z-index: -1;
        }
    }
    .footer__other {
        flex-basis: 50%;
        &__dosc {
            margin-bottom: 1.5em;
        }
       &__social__link--wrap {
            margin-top: 0.5em;
        }
        &__social__link__img {
            width: 26px;
            margin-right: 7px;
        }
        &__copyright {
            margin-top: 1.5em;
        }
    }
    .triangle-title {
        &--wrap {
            height: 140px;
            clip-path: polygon(0 0, 100% 0, 100% 15%, 50% 100%, 0 15%);
        }
        font-size: 3.35em;
    }
    .company-desc {
        margin: 3.6em 0;
        &__container {
            font-size: 1.2em;
            padding: 5em;
            &::before {
                width: 107%;
                height: 107%;
                left: -3.5%;
                top: -3.5%;
            }
            &::after {
                width: 107%;
                height: 107%;
                left: -3.5%;
                top: -3.5%;
            }
        }
    }
    .company-reasons {
        margin-bottom: 6em;
        &__title {
            font-size: 2.4em;
        }
        &__item {
            font-size: 1.2em;
            &__img {
                width: 130px;
            }
            &__text {
                border-radius: 12px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 6em;
        &__img {
            height: 60%;
            right: 54%;
            top: 50%;
            transform: translateY(-50%);
        }
        &__form {
            width: 55%;
            padding: 2.8em 0 2.8em 2.2em;
            &__title {
                font-size: 2em;
                border-radius: 12px;
            }
        }
        &__label {
            font-size: 1.4em;  
        }
        .company-feedback__label textarea {
            height: 140px;
        }
        &__btn {
            font-size: 1.5em;
            border-radius: 7px;
        }
    }
    .stocks-body {
        margin: 3.5em 0 6em;
    }
    .stocks-info {
        width: 90%;
        padding: 4em 5em 2.2em;
        &__title {
            font-size: 2.3em;
        }
        &__desc {
            font-size: 1.6em;
        }
        &__discounts{
            border-radius: 6px;
            width: 85%;
            padding: 3.7em 4.3em;
            &__value {
                font-size: 4em;
                border-radius: 6px;
            }
            &__text {
                font-size: 1.4em;
            }
        }
        &__text-footer {
            font-size: 1.6em;
            width: 85%;
        }
    }
    .stocks-form {
        border-radius: 6px;
        width: 100%;
        font-size: 1.4em;
        padding: 2em 5em;
        &__label {
                &__input {
                    border-radius: 6px;
                }
        }
        &__textarea-label textarea {
            height: 140px;
            border-radius: 6px;
        }
        &__btn {
            border-radius: 6px;
        }
    }
    .p-body {
        padding: 30px 0;
        &::before {
            width: calc((100% - 650px) / 2 + 230px);
            height: 350px;
            top: 150px;
        }
        &__content {
            margin-bottom: 4.5em;  
        }
        &__contacts {
            width: 210px;
            margin-top: 190px;
            font-size: 1.15em;
        }
    }
    .p-info-body {
        &::after {
            width: calc((100% - 650px) / 2 + 400px);
            height: 390px;
            top: 100px;
        }
        &__right {
            width: 400px;
        }
        &__inner {
            margin-top: 27px;
            font-size: 1.15em;
            padding: 1.6em 0 0 2em;
        }
        &__service {
            margin-bottom: 1em;
        }
        &__widget {
            margin-left: -1em;
            margin-right: -1em;
            padding: 1.5em 3em 1.5em 0;
            &__img {
                right: 68%;
                top: -5%;
                height: 115%;
            }
            &__text {
                width: 70%;
            }
        }
        &__form {
            font-size: 1.3em;
            padding: 2em 3em;
            &__textarea-label textarea {
                height: 140px;
            }
        }
    }
}
@media(max-width:700px) {
    .container {
        width: 450px;
    }
    .header {
        height: 60px;
        &__item {
            padding-left: 23px;
            &__link {
                font-size: 12px;
            }
            &__subtitle {
                font-size: 11px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 250px;
            }
            &--active {
                height: 290px !important;
            }
            font-size: 13px;
        }
        &__btn {
            display: none;
        }
    }
    .logo--wrap {
        width: 130px;
    }
    .tel {
        &::before {
            width: 17px;
            height: 17px;
        }
    }
    .mail {
        display: none;
        &::before {
            display: none;
        }
    }
    .burger {
        font-size: 13px;
        width: 30px;
        height: 29px;
        &__item {
            width: 15px;
        }
        &--active {
            .burger__item--1 {
                transform: rotate(135deg) translate(5px, -5px);
            }
            .burger__item--3 {
                transform: rotate(-135deg) translate(5px, 6px);
            }
        }
    }
    .main {
        margin-top: 60px;
        &__title {
            font-size: 22px;
        }
        &__subtitle {
            font-size: 13px;
        }
    }
    .banner {
        height: initial;
        padding: 35px 0;
        flex-direction: column;
        &__content {
            width: 90%;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 26px;
        }
        &__desc {
            font-size: 14px;
        }
        &__slider {
            width: 100%;
            position: static;
        }
    }
    .slider {
        &__item__img {
            height: 330px;  
        }
        &__pagintaions {
            left: 30px;
            bottom: 15px;
            button {
                width: 13px;
                height: 13px;
            }
        }
        &__content {
            bottom: 15px;
            width: 180px;
            padding: 23px 0px;
            &__title {
                font-size: 23px;
            }
            &__subtitle {
                font-size: 14px;
            }
        }
    }
    .orange-rectangle {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .btn {
        font-size: 12px;
    }
    .ourService {
        padding: 35px 0;
        &__widget__img {
            width:100%;
        }
        &__content {
            margin-bottom: 25px;
        }
        &__title, &__subtitle {
            width: 450px;
        }
        &__info {
            padding-left: calc((100% - 450px)/2);
            padding-right: calc((100% - 450px)/2);
            margin: 1.15em 0;
        }
        &__list {
            &--default {
                width: 50%;
                padding: 13px 11px 13px 0px;
            }
            &--white {
                width: 50%;
                padding: 23px 30px;
            }
            &__title {
                font-size: 13px;
            }
            &__link {
                font-size: 11px;
                padding-left: 12px;
                &::before {
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
    .about {
        height: initial;
        padding: 35px 0;
        flex-direction: column;
        &__widget {
            position: static;
            margin-top: 30px;
            width: 100%;
        }
        &__content {
            width: 90%;
        }
        &__desc {
            font-size: 13px;    
        }
    }
    .become-our-client {
        &__container {
            padding: 25px 0;
        }
        &__title {
            font-size: 24px;
        }
        &__item {
            flex-basis: 48%;
            padding-left: 35px;
            margin-bottom: 1em;
            &__img {
                width: 30px;
            }
            &__title {
                font-size: 14px;
            }
            &__desc {
                font-size: 11px;
            }
        }
    }
    .p-top-banner {
        height: 160px;
    }
    .p-service-body {
        &__container {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__aside {
            width: 75%;
            margin-top:25px;
        }
        &__grid {
            width: 100%;
            height: 900px;
            grid-gap: 12px;
            padding: 25px 0;
        }
        &__inner {
            width: 100%;
            &__gallery {
                grid-template-rows: 130px 130px 180px;
            }
        }
    }
    .p-title {
        font-size: 24px;
        width: 100%;
    }
    .footer__info {
        padding: 13px 13px 25px 0;
        font-size: 11px;
    }
    .footer__nav {
        padding: 1.3em 0 2.5em;
        &__main-link {
            font-size: 1.1em;
        }
        &__link {
            font-size: 1em;
        }
    }
    .footer__other {
        padding: 1.3em 0 2.5em 2.2em;
        &__dosc {
            margin-bottom: 1.3em;
        }
       &__social__link--wrap {
            margin-top: 0.4em;
        }
        &__title {
            font-size: 1.1em;
        }
        &__docs__link {
            font-size: 1em;
        }
        &__social__link__img {
            width: 22px;
            margin-right: 6px;
        }
        &__copyright {
            margin-top: 1.3em;
            &__text {
                font-size: 1em;
                margin-top: .3em;
            }
            &__img {
                width: 70px;
            }
        }
    }
    .triangle-title {
        &--wrap {
            height: 130px;
            clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 100%, 0 30%);
        }
        font-size: 3.1em;
    }
    .company-desc {
        margin: 3.3em 0;
        &__container {
            font-size: 1.1em;
        }
    }
    .company-reasons {
        margin-bottom: 5em;
        &__title {
            font-size: 2.2em;
        }
        &__items--wrap {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__item {
            font-size: 1.1em;
            width: 60%;
            margin-bottom: 7em;
            &:last-child {
                margin-bottom: 0;
            }
            &--center {
                width: 60% !important;
                &::before {
                    left: 50%;
                    width: .25em;
                    top: initial;
                    bottom: calc(100% + 1em);
                    transform: translateX(-50%);
                    height: 4.5em;
                }
                &::after {
                    right: 50%;
                    width: .25em;
                    top: initial;
                    top: calc(100% + 1em);
                    transform: translateX(50%);
                    height: 4.5em;
                }
            }
            &__img {
                width: 120px;
            }
            &__text {
                border-radius: 12px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 5em;
        &__container {
            justify-content: center;
            align-items: flex-start;
        }
        &__img {
           display: none;
        }
        &__form {
            width: 100%;
            padding: 2.8em 2.2em;
        }
    }
    .stocks-body {
        margin: 3.1em 0 5.5em;
    }
    .stocks-info {
        width: 95%;
        padding: 3.5em 4em 2em;
        &__title {
            font-size: 2.1em;
        }
        &__desc {
            font-size: 1.4em;
        }
        &__discounts{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 3.5em 4em 1em;
            &__item {
                width: 60%;
            }
            &__value {
                font-size: 3.5em;
                border-radius: 5px;
            }
            &__text {
                font-size: 1.3em;
                margin-bottom: 2em;
            }
        }
        &__text-footer {
            font-size: 1.4em;
        }
    }
    .stocks-form {
        font-size: 1.3em;
        padding: 2em 4em;
        &__top {
            margin-bottom: 0em;   
            flex-direction: column;
        }
        &__label {
            width: 100%;
            margin-bottom: .8em;   
                &__input {
                    border-radius: 5px;
                }
        }
        &__textarea-label textarea {
            height: 130px;
            border-radius: 5px;
        }
        &__btn {
            border-radius: 5px;
        }
    }
    .p-body {
        padding: 25px 0;
        &::before {
            display: none;
        }
        &__content {
            margin-bottom: 4em;  
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
        }
        &__contacts {
            width: 75%;
            margin-top: 0px;
            font-size: 1.2em;
        }
    }
    .p-info-body {
        &::after {
           display: none;
        }
        &__right {
            width: 100%;
        }
        &__inner {
            margin-top: 20px;
            font-size: 1.2em;
            padding: 1.6em 2em;
            background-color: #fff;
            margin-bottom: 3em;
        }
        &__service {
            margin-bottom: 1em;
        }
        &__widget {
            margin-left: 0em;
            margin-right: 0em;
            padding: 1.5em 1.5em 1.5em 0;
            &__img {
                right: 68%;
                top: 0%;
                height: 110%;
            }
            &__text {
                width: 70%;
            }
        }
        &__form {
            width: 95%;    
            font-size: 1.2em;
            padding: 1.8em 2.7em;
            &__top {
                margin-bottom: 0em;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            &__label {
                width: 100%;
                margin-bottom: .8em;
            }
            &__textarea-label textarea {
                height: 120px;
            }
            &__footer {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            &__btn {
               margin-top: 1.6em;
            }
        }
    }
}
@media(max-width:500px) {
    .container {
        width: 305px;
    }
    .header {
        height: 50px;
        &__item {
            padding-left: 18px;
            &__link {
                font-size: 10px;
            }
            &__subtitle {
                font-size: 10px;
            }  
        }
        &__menu {
            &--wrap {
                max-width: 230px;
            }
            &--active {
                height: 270px !important;
            }
            font-size: 12px;
        }
    }
    .logo--wrap {
        width: 105px;
    }
    .tel {
        &::before {
           width: 15px;
           height: 15px;
        }
    }
    .main {
        margin-top: 50px;
        &__title {
            font-size: 19px;
        }
        &__subtitle {
            font-size: 12px;
        }
    }
    .banner {
        padding: 25px 0;
        &__content {
            width: 97%;
        }
        &__title {
            font-size: 22px;
        }
        &__desc {
            font-size: 12px;
        }
    }
    .slider {
        &__item__img {
            height: 220px;  
        }
        &__pagintaions {
            left: 15px;
            bottom: 10px;
            button {
                width: 12px;
                height: 12px;
                margin-right: 3px;
            }
        }
        &__content {
            bottom: 10px;
            left: 45%;
            width: 160px;
            padding: 15px 0px;
            &__title {
                font-size: 20px;
            }
            &__subtitle {
                font-size: 12px;
                line-height: 1.3em;
            }
        }
    }
    .btn {
        font-size: 11px;
    }
    .ourService {
        padding: 25px 0;
        &__content {
            margin-bottom: 20px;
        }
        &__title, &__subtitle {
            width: 305px;
        }
        &__info {
            width: 305px;
            margin: 1.1em 0;
            height: 380px;
            position: relative;
            flex-direction: column;
            padding: 0;
        }
        &__list {
            &--default {
                width: 100%;
                padding: 21px 25px;
            }
            &--white {
                padding: 21px 25px;
                right: 0;
                bottom: 0;
                width: calc(100% + 20px);
                margin-left: -10px;
            }
        }
    }
    .about {
        padding: 25px 0;
        &__content {
            width: 97%;
        }
        &__desc {
            font-size: 12px;    
        }
        &__widget {
            margin-top: 25px;
        }
    }
    .become-our-client {
        &__container {
            padding: 20px 0;
        }
        &__title {
            font-size: 20px;
        }
        &__content {
            flex-direction: column;
        }
        &__item {
            flex-basis: 100%;
        }
    }
    .p-top-banner {
        height: 110px;
    }
    .p-service-body {
        &__aside {
            width: 80%;
            padding: 12px 20px;
            margin-top:20px;
            &__title {
                font-size: 13px;
            }
            &__nav {
                font-size: 11px;
            }
            &__button {
                border-radius: 6px;
                font-size: 11px;
            }
        }
        &__grid {
            height: 700px;
            grid-gap: 10px;
            padding: 20px 0;
            &__title {
                font-size: 11px;
            }
        }
        &__inner {
            font-size: 11px;
            padding: 1.4em 1.6em;
            &__img {
                height: 85px;
            }
            &__gallery {
                grid-gap: 5px;
                grid-template-rows: 90px 90px 130px;
            }
        }
    }
    .p-title {
        font-size: 20px;
    }
    .footer__container {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .footer__info {
        width: 100%;
        padding: 15px 20px;
    }
    .footer__nav {
        order: 0;
        width: 100%;
        padding: 15px 20px;
        &::before,
        &::after {
            display: none;
        }
        &__left {
            width: 48%;
        }
        &__right {
            width: 42%;
        }
    }
    .footer__other {
        width: 100%;
        padding: 15px 20px;
    }
    .triangle-title {
        &--wrap {
            height: 120px;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
        }
        font-size: 2.6em;
    }
    .company-desc {
        margin: 3em 0;
        &__container {
            font-size: 1.05em;
            padding: 3.5em;
        }
    }
    .company-reasons {
        margin-bottom: 4em;
        &__title {
            font-size: 2em;
        }
        &__item {
            font-size: 1.05em;
            width: 90%;
            margin-bottom: 6em;
            &--center {
                width: 90% !important;
                &::before {
                    bottom: calc(100% + .8em);
                }
                &::after {
                    top: calc(100% + .8em);
                }
            }
            &__img {
                width: 110px;
            }
            &__text {
                border-radius: 10px;
            }
        }
    }
    .company-feedback {
        margin-bottom: 4em;
        &__form {
            padding: 2.5em 2em;
            &__title {
                font-size: 1.8em;
                border-radius: 10px;
            }
        }
        &__label {
            font-size: 1.3em;  
        }
        .company-feedback__label textarea {
            height: 120px;
        }
        &__btn {
            font-size: 1.4em;
            border-radius: 6px;
        }
    }
    .stocks-body {
        margin: 2.7em 0 5em;
    }
    .stocks-info {
        width: 100%;
        padding: 2em 2.5em 1.6em;
        &__title {
            font-size: 1.7em;
        }
        &__desc {
            font-size: 1.2em;
        }
        &__discounts{
            width: 90%;
            padding: 3em 3.5em 1em;
            &__item {
                width: 100%;
            }
            &__value {
                font-size: 3em;
                border-radius: 4px;
            }
            &__text {
                font-size: 1.1em;
                margin-bottom: 1.8em;
            }
        }
        &__text-footer {
            font-size: 1.2em;
            width: 100%;
        }
    }
    .stocks-form {
        font-size: 1.2em;
        padding: 1.5em 2.5em;
        &__label {
            &__input {
                border-radius: 4px;
            }
        }
        &__textarea-label textarea {
            height: 100px;
            border-radius: 4px;
        }
        &__btn {
            border-radius: 4px;
        }
    }
    .p-body {
        padding: 20px 0;
        &__content {
            margin-bottom: 3em;  
        }
        &__contacts {
            width: 80%;
            font-size: 1.15em;
        }
    }
    .p-info-body {
        &__inner {
            margin-top: 15px;
            font-size: 1.1em;
        }
        &__service {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
            &__item {
                width: 90%;
                &-left {
                    margin: 0;
                }
            }
            &__title {
                display: none;
            }
        }
        &__widget {
           justify-content: center;
            padding: 1.5em;
            &__img {
               display: none;
            }
            &__text {
                width: 100%;
            }
        }
        &__form {
            width: 100%;    
            font-size: 1.1em;
            padding: 1.5em 2em;
            &__textarea-label textarea {
                height: 100px;
            }
            &__btn {
               margin-top: 1.4em;
            }
        }
    }
}