.our-menu__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    margin: 0 25px 2em 25px;    
    background: #FFFEFE;
    box-shadow: 0px 4px 12px rgba(113, 90, 46, 0.4);
    font-size: 1.8em;
}