@media (max-width: 1700px) {
  .container {
    width: 1100px; }
  .header {
    height: 90px; }
    .header__item {
      padding-left: 32px; }
      .header__item__link {
        font-size: 17px; }
      .header__item__subtitle {
        font-size: 15px; }
    .header__menu {
      font-size: 17px; }
      .header__menu--wrap {
        max-width: 340px; }
      .header__menu--active {
        height: 390px !important; }
    .header__btn {
      font-size: 19px; }
  .logo--wrap {
    width: 225px; }
  .tel::before {
    width: 23px;
    height: 23px; }
  .mail::before {
    width: 23px;
    height: 23px; }
  .burger__title {
    font-size: 19px; }
  .main {
    margin-top: 90px; }
    .main__title {
      font-size: 32px; }
    .main__subtitle {
      font-size: 17px; }
  .banner {
    height: 680px; }
    .banner__content {
      width: 420px; }
    .banner__title {
      font-size: 44px; }
    .banner__desc {
      font-size: 19px; }
    .banner__slider {
      width: 750px; }
  .slider__item__img {
    height: 575px; }
  .slider__pagintaions {
    left: 85px;
    bottom: 50px; }
    .slider__pagintaions button {
      width: 19px;
      height: 19px; }
  .slider__content {
    bottom: 50px;
    left: 48%;
    width: 280px;
    padding: 65px 0px; }
    .slider__content__title {
      font-size: 35px; }
    .slider__content__subtitle {
      font-size: 19px; }
  .orange-rectangle::before {
    top: 100px;
    width: 75px;
    height: 320px; }
  .btn {
    font-size: 15px; }
  .ourService {
    padding: 45px 0;
    height: calc(470px + 90px); }
    .ourService__widget__img {
      width: 700px; }
    .ourService__container {
      width: calc(100% - 700px); }
    .ourService__title, .ourService__subtitle {
      padding-left: 50px; }
    .ourService__info {
      margin: 1.4em 0; }
    .ourService__list--default {
      width: 315px;
      padding: 22px 18px 22px 50px; }
    .ourService__list--white {
      width: 380px;
      padding: 33px 60px; }
    .ourService__list__title {
      font-size: 17px; }
    .ourService__list__link {
      font-size: 15px;
      padding-left: 18px; }
      .ourService__list__link::before {
        width: 9px;
        height: 9px; }
  .about {
    height: calc(500px + 185px);
    padding: 45px 0 90px; }
    .about__widget {
      top: 80px; }
      .about__widget__img {
        width: 720px; }
    .about__content {
      width: 450px; }
    .about__desc {
      font-size: 17px; }
  .become-our-client__container {
    padding: 45px 0; }
  .become-our-client__title {
    font-size: 42px;
    margin-bottom: 1.3em; }
    .become-our-client__title::before {
      height: .2em;
      bottom: -.4em; }
  .become-our-client__item {
    padding-left: 50px; }
    .become-our-client__item__img {
      width: 45px; }
    .become-our-client__item__title {
      font-size: 19px; }
    .become-our-client__item__desc {
      font-size: 14px; }
  .p-service-banner {
    height: 280px; }
  .p-service-body {
    padding: 45px 0; }
    .p-service-body::before {
      width: calc((100% - 1100px) / 2 + 350px);
      height: 460px; }
    .p-service-body__aside {
      width: 350px;
      padding: 23px 43px;
      margin-top: 45px; }
      .p-service-body__aside__title {
        font-size: 17px; }
      .p-service-body__aside__nav {
        font-size: 15px; }
      .p-service-body__aside__button {
        font-size: 15px; }
    .p-service-body__grid {
      width: 700px;
      height: 800px;
      grid-gap: 18px;
      padding: 45px 0; }
      .p-service-body__grid__title {
        font-size: 15px; }
    .p-service-body__inner {
      width: 700px;
      font-size: 15px; }
      .p-service-body__inner__img {
        height: 180px; }
      .p-service-body__inner__gallery {
        grid-gap: 9px; }
  .p-title {
    font-size: 36px;
    width: 700px; }
  .footer__info {
    padding: 20px 20px 50px 0;
    font-size: 13px; }
  .footer__nav {
    padding: 2em 4em 5em; }
    .footer__nav__main-link {
      font-size: 1.3em; }
    .footer__nav__link {
      font-size: 1.05em; }
  .footer__other {
    padding: 2em 0 5em 4em; }
    .footer__other__title {
      font-size: 1.3em; }
    .footer__other__docs__link {
      font-size: 1.05em; }
    .footer__other__social__link__img {
      width: 32px;
      margin-right: 9px; }
    .footer__other__copyright__text {
      font-size: 1.05em; }
    .footer__other__copyright__img {
      width: 85px; }
  .triangle-title {
    font-size: 4.2em; }
    .triangle-title--wrap {
      height: 170px; }
  .company-desc {
    margin: 4.6em 0; }
    .company-desc__container {
      font-size: 1.5em;
      padding: 6.6em; }
  .company-reasons {
    margin-bottom: 9em; }
    .company-reasons__title {
      font-size: 3em; }
    .company-reasons__item {
      font-size: 1.5em; }
      .company-reasons__item__img {
        width: 160px; }
      .company-reasons__item__text {
        border-radius: 18px; }
  .company-feedback {
    margin-bottom: 9em; }
    .company-feedback__img {
      height: 108%;
      right: 47%;
      top: -3%; }
    .company-feedback__form {
      padding: 3.7em 2.8em; }
      .company-feedback__form__title {
        font-size: 2.6em;
        border-radius: 18px; }
    .company-feedback__label {
      font-size: 1.7em; }
    .company-feedback .company-feedback__label textarea {
      height: 165px; }
    .company-feedback__btn {
      font-size: 1.7em;
      border-radius: 9px; }
  .stocks-body {
    margin: 4.6em 0 9em; }
  .stocks-info {
    padding: 4.5em 7em 2.8em; }
    .stocks-info__title {
      font-size: 3em; }
    .stocks-info__desc {
      font-size: 2.1em; }
    .stocks-info__discounts {
      padding: 4.3em 5.2em; }
      .stocks-info__discounts__value {
        font-size: 5.3em; }
      .stocks-info__discounts__text {
        font-size: 1.7em; }
    .stocks-info__text-footer {
      font-size: 2.1em; }
  .stocks-form {
    font-size: 1.7em; }
    .stocks-form__textarea-label textarea {
      height: 170px; } }

@media (max-width: 1500px) {
  .main__title {
    font-size: 30px; }
  .main__subtitle {
    font-size: 17px; }
  .banner {
    height: 600px; }
    .banner__content {
      width: 380px; }
    .banner__title {
      font-size: 38px; }
    .banner__desc {
      font-size: 17px; }
    .banner__slider {
      width: 700px; }
  .slider__item__img {
    height: 500px; }
  .slider__pagintaions {
    left: 75px;
    bottom: 42px; }
    .slider__pagintaions button {
      width: 18px;
      height: 18px; }
  .slider__content {
    bottom: 42px;
    left: 45%;
    width: 250px;
    padding: 55px 0px; }
    .slider__content__title {
      font-size: 32px; }
    .slider__content__subtitle {
      font-size: 18px; }
  .orange-rectangle::before {
    top: 80px;
    width: 60px;
    height: 290px; }
  .btn {
    font-size: 14px; }
  .ourService {
    padding: 40px 0;
    height: calc(410px + 80px); }
    .ourService__widget__img {
      width: 650px; }
    .ourService__container {
      width: calc(100% - 650px); }
    .ourService__title, .ourService__subtitle {
      padding-left: 35px; }
    .ourService__info {
      margin: 1.3em 0; }
    .ourService__list--default {
      width: 275px;
      padding: 19px 16px 19px 35px; }
    .ourService__list--white {
      width: 335px;
      padding: 28px 50px; }
    .ourService__list__title {
      font-size: 16px; }
    .ourService__list__link {
      font-size: 14px;
      padding-left: 16px; }
      .ourService__list__link::before {
        width: 8px;
        height: 8px; }
  .about {
    height: calc(500px + 170px);
    padding: 40px 0 80px; }
    .about__widget__img {
      width: 670px; }
    .about__content {
      width: 425px; }
    .about__desc {
      font-size: 16px; }
  .become-our-client__container {
    padding: 40px 0; }
  .become-our-client__title {
    font-size: 36px; }
  .become-our-client__item {
    padding-left: 45px; }
    .become-our-client__item__img {
      width: 40px; }
    .become-our-client__item__title {
      font-size: 17px; }
    .become-our-client__item__desc {
      font-size: 13px; } }

@media (max-width: 1300px) {
  .container {
    width: 900px; }
  .header {
    height: 80px; }
    .header__item {
      padding-left: 29px; }
      .header__item__link {
        font-size: 16px; }
      .header__item__subtitle {
        font-size: 14px; }
    .header__menu {
      font-size: 16px; }
      .header__menu--wrap {
        max-width: 310px; }
      .header__menu--active {
        height: 370px !important; }
    .header__btn {
      font-size: 18px; }
  .logo--wrap {
    width: 190px; }
  .tel::before {
    width: 21px;
    height: 21px; }
  .mail::before {
    width: 21px;
    height: 21px; }
  .burger {
    font-size: 15px;
    width: 45px;
    height: 38px; }
    .burger__title {
      font-size: 18px; }
    .burger__item {
      width: 25px; }
    .burger--active .burger__item--1 {
      transform: rotate(135deg) translate(7px, -7px); }
    .burger--active .burger__item--3 {
      transform: rotate(-135deg) translate(7px, 7px); }
  .main {
    margin-top: 80px; }
    .main__title {
      font-size: 28px; }
    .main__subtitle {
      font-size: 16px; }
  .banner {
    height: 500px; }
    .banner__content {
      width: 300px; }
    .banner__title {
      font-size: 33px; }
    .banner__desc {
      font-size: 16px; }
    .banner__slider {
      width: 550px; }
  .slider__item__img {
    height: 400px; }
  .slider__pagintaions {
    left: 50px;
    bottom: 30px; }
    .slider__pagintaions button {
      width: 17px;
      height: 17px;
      margin-right: 4px; }
  .slider__content {
    bottom: 30px;
    left: 43%;
    width: 210px;
    padding: 45px 0px; }
    .slider__content__title {
      font-size: 28px; }
    .slider__content__subtitle {
      font-size: 16px; }
  .orange-rectangle::before {
    top: 70px;
    width: 50px;
    height: 250px; }
  .btn {
    font-size: 13px; }
  .ourService {
    padding: 35px 0;
    height: calc(360px + 70px); }
    .ourService__widget__img {
      width: 550px; }
    .ourService__container {
      width: calc(100% - 550px); }
    .ourService__title, .ourService__subtitle {
      padding-left: 28px; }
    .ourService__info {
      margin: 1.25em 0; }
    .ourService__list--default {
      width: 240px;
      padding: 17px 15px 17px 28px; }
    .ourService__list--white {
      width: 290px;
      padding: 27px 41px; }
    .ourService__list__title {
      font-size: 15px; }
    .ourService__list__link {
      font-size: 13px;
      padding-left: 14px; }
      .ourService__list__link::before {
        width: 7px;
        height: 7px; }
  .about {
    height: calc(400px + 155px);
    padding: 35px 0 70px; }
    .about__widget__img {
      width: 550px; }
    .about__content {
      width: 380px; }
    .about__desc {
      font-size: 15px; }
  .become-our-client__container {
    padding: 35px 0; }
  .become-our-client__title {
    font-size: 32px;
    letter-spacing: 0.02em; }
  .become-our-client__item {
    padding-left: 40px; }
    .become-our-client__item__img {
      width: 35px; }
    .become-our-client__item__title {
      font-size: 16px; }
    .become-our-client__item__desc {
      font-size: 12px; }
  .p-service-banner {
    height: 250px; }
  .p-service-body {
    padding: 40px 0; }
    .p-service-body::before {
      width: calc((100% - 900px) / 2 + 290px);
      height: 420px;
      top: 180px; }
    .p-service-body__aside {
      width: 290px;
      padding: 20px 35px;
      margin-top: 40px; }
      .p-service-body__aside__title {
        font-size: 16px;
        letter-spacing: 0.01em; }
      .p-service-body__aside__nav {
        font-size: 14px; }
      .p-service-body__aside__button {
        font-size: 14px; }
    .p-service-body__grid {
      width: 570px;
      height: 720px;
      grid-gap: 16px;
      padding: 40px 0; }
      .p-service-body__grid__title {
        font-size: 14px; }
    .p-service-body__inner {
      width: 570px;
      font-size: 14px; }
      .p-service-body__inner__img {
        height: 155px; }
      .p-service-body__inner__gallery {
        grid-gap: 8px; }
  .p-title {
    font-size: 32px;
    width: 570px; }
  .footer__info {
    padding: 17px 17px 40px 0;
    font-size: 12px; }
  .footer__nav {
    padding: 1.7em 3em 4em; }
    .footer__nav__main-link {
      font-size: 1.2em; }
    .footer__nav__link {
      font-size: 1.03em; }
  .footer__other {
    padding: 1.7em 0 4em 3em; }
    .footer__other__title {
      font-size: 1.2em; }
    .footer__other__docs__link {
      font-size: 1.03em; }
    .footer__other__social__link__img {
      width: 30px;
      margin-right: 8px; }
    .footer__other__copyright__text {
      font-size: 1.03em; }
    .footer__other__copyright__img {
      width: 80px; }
  .triangle-title {
    font-size: 3.95em; }
    .triangle-title--wrap {
      height: 160px; }
  .company-desc {
    margin: 4.2em 0; }
    .company-desc__container {
      font-size: 1.4em;
      padding: 6.2em; }
  .company-reasons {
    margin-bottom: 8em; }
    .company-reasons__title {
      font-size: 2.8em; }
    .company-reasons__item {
      font-size: 1.4em; }
      .company-reasons__item__img {
        width: 150px; }
      .company-reasons__item__text {
        border-radius: 16px; }
  .company-feedback {
    margin-bottom: 8em; }
    .company-feedback__img {
      height: 100%;
      right: 45%;
      top: 0%; }
    .company-feedback__form {
      width: 48%;
      padding: 3.4em 0 3.4em 2.6em; }
      .company-feedback__form__title {
        font-size: 2.4em;
        border-radius: 16px; }
    .company-feedback__label {
      font-size: 1.6em; }
    .company-feedback .company-feedback__label textarea {
      height: 150px; }
    .company-feedback__btn {
      font-size: 1.6em;
      border-radius: 8px; }
  .stocks-body {
    margin: 4.2em 0 8em; }
  .stocks-info {
    width: 85%;
    border-radius: 8px;
    padding: 4em 6em 2.6em; }
    .stocks-info__title {
      font-size: 2.8em; }
    .stocks-info__desc {
      font-size: 2em; }
    .stocks-info__discounts {
      border-radius: 8px;
      width: 75%;
      padding: 4.1em 4.9em; }
      .stocks-info__discounts__value {
        font-size: 5em;
        border-radius: 8px; }
      .stocks-info__discounts__text {
        font-size: 1.6em; }
    .stocks-info__text-footer {
      font-size: 1.9em;
      width: 75%; }
  .stocks-form {
    border-radius: 8px;
    width: 95%;
    font-size: 1.6em; }
    .stocks-form__label__input {
      border-radius: 8px; }
    .stocks-form__textarea-label textarea {
      height: 160px;
      border-radius: 8px; }
    .stocks-form__btn {
      border-radius: 8px; } }

@media (max-width: 1100px) {
  .container {
    width: 800px; }
  .header {
    height: 75px; }
    .header__item {
      padding-left: 27px; }
      .header__item__link {
        font-size: 15px; }
      .header__item__subtitle {
        font-size: 13px; }
    .header__menu {
      font-size: 15px; }
      .header__menu--wrap {
        max-width: 290px; }
      .header__menu--active {
        height: 345px !important; }
    .header__btn {
      font-size: 16px; }
  .logo--wrap {
    width: 160px; }
  .tel::before {
    width: 19px;
    height: 19px; }
  .mail::before {
    width: 19px;
    height: 19px; }
  .burger {
    font-size: 14px;
    width: 40px;
    height: 34px; }
    .burger__title {
      font-size: 16px;
      margin-left: .5em; }
    .burger__item {
      width: 22px; }
    .burger--active .burger__item--1 {
      transform: rotate(135deg) translate(6px, -7px); }
    .burger--active .burger__item--3 {
      transform: rotate(-135deg) translate(6px, 6px); }
  .main {
    margin-top: 75px; }
    .main__title {
      font-size: 26px; }
    .main__subtitle {
      font-size: 15px; }
  .banner {
    height: 400px; }
    .banner__content {
      width: 280px; }
    .banner__title {
      font-size: 30px; }
    .banner__desc {
      font-size: 15px; }
    .banner__slider {
      width: 480px; }
  .slider__item__img {
    height: 330px; }
  .slider__pagintaions {
    left: 35px;
    bottom: 20px; }
    .slider__pagintaions button {
      width: 15px;
      height: 15px; }
  .slider__content {
    bottom: 20px;
    left: 40%;
    width: 195px;
    padding: 30px 0px; }
    .slider__content__title {
      font-size: 26px; }
    .slider__content__subtitle {
      font-size: 15px; }
  .orange-rectangle::before {
    top: 60px;
    width: 35px;
    height: 210px; }
  .ourService {
    padding: 30px 0;
    height: calc(330px + 60px); }
    .ourService__widget__img {
      width: 500px;
      margin-left: -100px; }
    .ourService__container {
      width: calc(100% - 400px); }
    .ourService__title, .ourService__subtitle {
      padding-left: 23px; }
    .ourService__info {
      margin: 1.2em 0; }
    .ourService__list--default {
      width: 220px;
      padding: 15px 13px 15px 23px; }
    .ourService__list--white {
      width: 270px;
      padding: 25px 37px; }
    .ourService__list__title {
      font-size: 14px; }
    .ourService__list__link {
      font-size: 12px;
      padding-left: 13px; }
      .ourService__list__link::before {
        width: 7px;
        height: 7px; }
  .about {
    height: calc(400px + 140px);
    padding: 30px 0 60px; }
    .about__widget__img {
      width: 520px;
      margin-right: -100px; }
    .about__desc {
      font-size: 14px; }
  .become-our-client__container {
    padding: 30px 0; }
  .become-our-client__title {
    font-size: 29px;
    letter-spacing: 0.01em; }
  .become-our-client__content {
    flex-wrap: wrap; }
  .become-our-client__item {
    flex-basis: 45%;
    padding-left: 40px;
    margin-bottom: 1.2em; }
  .p-service-banner {
    height: 220px; }
  .p-service-body {
    padding: 35px 0; }
    .p-service-body::before {
      width: calc((100% - 800px) / 2 + 260px);
      height: 370px;
      top: 160px; }
    .p-service-body__aside {
      width: 260px;
      padding: 17px 30px;
      margin-top: 35px; }
      .p-service-body__aside__title {
        font-size: 15px;
        letter-spacing: 0.01em; }
      .p-service-body__aside__nav {
        font-size: 13px; }
      .p-service-body__aside__button {
        border-radius: 7px;
        font-size: 13px; }
    .p-service-body__grid {
      width: 510px;
      height: 670px;
      grid-gap: 14px;
      padding: 35px 0; }
      .p-service-body__grid__title {
        font-size: 13px; }
    .p-service-body__inner {
      width: 510px;
      font-size: 13px; }
      .p-service-body__inner__img {
        height: 130px; }
      .p-service-body__inner__gallery {
        grid-gap: 7px; }
  .p-title {
    font-size: 28px;
    width: 510px; }
  .footer__info {
    flex-basis: 30%;
    padding: 15px 15px 30px 0; }
  .footer__nav {
    flex-basis: 45%;
    padding: 1.5em 2.5em 3em; }
  .footer__other {
    flex-basis: 25%;
    padding: 1.5em 0 3em 2.5em; }
    .footer__other__top {
      flex-direction: column;
      align-items: flex-start; }
    .footer__other__dosc {
      margin-bottom: 2em; }
    .footer__other__social__link--wrap {
      margin-top: 0.7em; }
    .footer__other__copyright {
      flex-direction: column-reverse;
      align-items: flex-start; }
      .footer__other__copyright__text {
        font-size: 1.03em;
        margin-right: 0;
        margin-top: .4em; }
  .triangle-title {
    font-size: 3.65em; }
    .triangle-title--wrap {
      height: 150px; }
  .company-desc {
    margin: 3.9em 0; }
    .company-desc__container {
      font-size: 1.3em;
      padding: 5.8em; }
  .company-reasons {
    margin-bottom: 7em; }
    .company-reasons__title {
      font-size: 2.6em; }
    .company-reasons__item {
      font-size: 1.3em; }
      .company-reasons__item__img {
        width: 140px; }
      .company-reasons__item__text {
        border-radius: 14px; }
  .company-feedback {
    margin-bottom: 7em; }
    .company-feedback__img {
      height: 90%;
      right: 45%;
      top: 5%; }
    .company-feedback__form {
      padding: 3.1em 0 3.1em 2.4em; }
      .company-feedback__form__title {
        font-size: 2.2em;
        border-radius: 14px; }
    .company-feedback__label {
      font-size: 1.5em; }
    .company-feedback .company-feedback__label textarea {
      height: 140px; }
    .company-feedback__btn {
      font-size: 1.5em;
      border-radius: 7px; }
  .stocks-body {
    margin: 3.8em 0 7em; }
  .stocks-info {
    width: 85%;
    padding: 4.5em 5.5em 2.4em; }
    .stocks-info__title {
      font-size: 2.6em; }
    .stocks-info__desc {
      font-size: 1.8em; }
    .stocks-info__discounts {
      border-radius: 7px;
      padding: 3.9em 4.6em; }
      .stocks-info__discounts__value {
        font-size: 4.5em;
        border-radius: 7px; }
      .stocks-info__discounts__text {
        font-size: 1.5em; }
    .stocks-info__text-footer {
      font-size: 1.8em; }
  .stocks-form {
    border-radius: 7px;
    font-size: 1.5em;
    padding: 2em 6em; }
    .stocks-form__label__input {
      border-radius: 7px; }
    .stocks-form__textarea-label textarea {
      height: 150px;
      border-radius: 7px; }
    .stocks-form__btn {
      border-radius: 7px; } }

@media (max-width: 900px) {
  .container {
    width: 650px; }
  .header {
    height: 65px; }
    .header__item {
      padding-left: 25px; }
      .header__item__link {
        font-size: 13px; }
      .header__item__subtitle {
        font-size: 12px; }
    .header__menu {
      font-size: 14px; }
      .header__menu--wrap {
        max-width: 270px; }
      .header__menu--active {
        height: 320px !important; }
    .header__btn {
      font-size: 14px;
      padding: 0.45em 1.5em; }
  .logo--wrap {
    width: 120px; }
  .tel::before {
    width: 18px;
    height: 18px; }
  .mail::before {
    width: 18px;
    height: 18px; }
  .burger {
    font-size: 14px;
    width: 35px;
    height: 32px; }
    .burger__title {
      display: none; }
    .burger__item {
      width: 17px; }
    .burger--active .burger__item--1 {
      transform: rotate(135deg) translate(7px, -7px); }
    .burger--active .burger__item--3 {
      transform: rotate(-135deg) translate(5px, 5px); }
  .main {
    margin-top: 65px; }
    .main__title {
      font-size: 24px; }
    .main__subtitle {
      font-size: 14px; }
  .banner {
    height: 690px;
    align-items: flex-start;
    padding: 40px 0; }
    .banner__container {
      justify-content: center;
      align-items: flex-start; }
    .banner__content {
      width: 75%; }
    .banner__title {
      font-size: 30px; }
    .banner__desc {
      font-size: 15px; }
    .banner__slider {
      width: 650px;
      top: 290px;
      left: calc((100% - 650px) / 2); }
  .slider__item__img {
    height: 360px;
    width: 100%;
    object-fit: cover; }
  .slider__pagintaions {
    left: 35px;
    bottom: 20px; }
    .slider__pagintaions button {
      width: 15px;
      height: 15px;
      margin-right: 4px; }
    .slider__pagintaions .slick-active button {
      border: 3px solid #FBA549; }
  .slider__content {
    left: 50%; }
  .orange-rectangle::before {
    top: 50%;
    transform: translateY(-50%);
    width: calc((100vw - 650px) / 2);
    height: 70%; }
  .orange-rectangle::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100vw - 650px) / 2);
    height: 70%;
    background: #FBA549;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  .ourService {
    padding: 40px 0;
    height: initial;
    flex-direction: column-reverse;
    justify-content: flex-start; }
    .ourService__widget__img {
      width: 650px;
      margin-left: 0px; }
    .ourService__container {
      width: 100%;
      align-items: center;
      height: initial; }
    .ourService__content {
      align-items: center;
      margin-bottom: 30px; }
    .ourService__title, .ourService__subtitle {
      width: 650px;
      padding-left: 0px; }
    .ourService__info {
      padding-left: calc((100% - 650px)/2); }
    .ourService__list--default {
      padding: 15px 13px 15px 0px; }
  .about {
    height: calc(760px + 80px);
    padding: 40px 0;
    align-items: flex-start; }
    .about__widget {
      top: 370px;
      width: 650px;
      left: calc((100% - 650px) / 2); }
      .about__widget__img {
        width: 100%;
        margin-right: 0px; }
    .about__container {
      height: initial;
      justify-content: center; }
    .about__content {
      width: 75%; }
  .p-service-banner {
    height: 190px; }
  .p-service-body {
    padding: 30px 0; }
    .p-service-body::before {
      width: calc((100% - 650px) / 2 + 230px);
      height: 350px;
      top: 150px; }
    .p-service-body__aside {
      width: 250px;
      padding: 15px 25px;
      margin-top: 30px; }
      .p-service-body__aside__title {
        font-size: 14px; }
      .p-service-body__aside__nav {
        font-size: 12px; }
      .p-service-body__aside__button {
        font-size: 12px; }
    .p-service-body__grid {
      width: 380px;
      height: 900px;
      grid-template-areas: "item-7 item-8" "item-1 item-2" "item-1 item-4" "item-9 item-10" "item-5 item-3" "item-6 item-3" "item-11 item-12";
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px;
      padding: 30px 0; }
    .p-service-body__inner {
      width: 380px;
      font-size: 12px; }
      .p-service-body__inner__img {
        height: 105px;
        margin-bottom: 1.5em; }
      .p-service-body__inner__gallery {
        margin: 1em 0;
        grid-gap: 6px;
        width: 100%;
        grid-template-areas: "img-1 img-2" "img-3 img-4" "video video";
        grid-template-rows: 100px 100px 150px;
        grid-template-columns: 1fr 1fr; }
      .p-service-body__inner__list__item {
        margin-bottom: 1.2em; }
  .p-title {
    font-size: 26px;
    width: 380px; }
  .footer__container {
    flex-wrap: wrap; }
  .footer__info {
    flex-basis: 50%; }
  .footer__nav {
    flex-basis: 100%;
    order: 3;
    position: relative;
    padding: 1.5em 0 3em;
    z-index: 0; }
    .footer__nav::before {
      content: '';
      position: absolute;
      left: 99%;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #F17E01;
      z-index: -1; }
    .footer__nav::after {
      content: '';
      position: absolute;
      right: 99%;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #F17E01;
      z-index: -1; }
  .footer__other {
    flex-basis: 50%; }
    .footer__other__dosc {
      margin-bottom: 1.5em; }
    .footer__other__social__link--wrap {
      margin-top: 0.5em; }
    .footer__other__social__link__img {
      width: 26px;
      margin-right: 7px; }
    .footer__other__copyright {
      margin-top: 1.5em; }
  .triangle-title {
    font-size: 3.35em; }
    .triangle-title--wrap {
      height: 140px;
      clip-path: polygon(0 0, 100% 0, 100% 15%, 50% 100%, 0 15%); }
  .company-desc {
    margin: 3.6em 0; }
    .company-desc__container {
      font-size: 1.2em;
      padding: 5em; }
      .company-desc__container::before {
        width: 107%;
        height: 107%;
        left: -3.5%;
        top: -3.5%; }
      .company-desc__container::after {
        width: 107%;
        height: 107%;
        left: -3.5%;
        top: -3.5%; }
  .company-reasons {
    margin-bottom: 6em; }
    .company-reasons__title {
      font-size: 2.4em; }
    .company-reasons__item {
      font-size: 1.2em; }
      .company-reasons__item__img {
        width: 130px; }
      .company-reasons__item__text {
        border-radius: 12px; }
  .company-feedback {
    margin-bottom: 6em; }
    .company-feedback__img {
      height: 60%;
      right: 54%;
      top: 50%;
      transform: translateY(-50%); }
    .company-feedback__form {
      width: 55%;
      padding: 2.8em 0 2.8em 2.2em; }
      .company-feedback__form__title {
        font-size: 2em;
        border-radius: 12px; }
    .company-feedback__label {
      font-size: 1.4em; }
    .company-feedback .company-feedback__label textarea {
      height: 140px; }
    .company-feedback__btn {
      font-size: 1.5em;
      border-radius: 7px; }
  .stocks-body {
    margin: 3.5em 0 6em; }
  .stocks-info {
    width: 90%;
    padding: 4em 5em 2.2em; }
    .stocks-info__title {
      font-size: 2.3em; }
    .stocks-info__desc {
      font-size: 1.6em; }
    .stocks-info__discounts {
      border-radius: 6px;
      width: 85%;
      padding: 3.7em 4.3em; }
      .stocks-info__discounts__value {
        font-size: 4em;
        border-radius: 6px; }
      .stocks-info__discounts__text {
        font-size: 1.4em; }
    .stocks-info__text-footer {
      font-size: 1.6em;
      width: 85%; }
  .stocks-form {
    border-radius: 6px;
    width: 100%;
    font-size: 1.4em;
    padding: 2em 5em; }
    .stocks-form__label__input {
      border-radius: 6px; }
    .stocks-form__textarea-label textarea {
      height: 140px;
      border-radius: 6px; }
    .stocks-form__btn {
      border-radius: 6px; } }

@media (max-width: 700px) {
  .container {
    width: 450px; }
  .header {
    height: 60px; }
    .header__item {
      padding-left: 23px; }
      .header__item__link {
        font-size: 12px; }
      .header__item__subtitle {
        font-size: 11px; }
    .header__menu {
      font-size: 13px; }
      .header__menu--wrap {
        max-width: 250px; }
      .header__menu--active {
        height: 290px !important; }
    .header__btn {
      display: none; }
  .logo--wrap {
    width: 130px; }
  .tel::before {
    width: 17px;
    height: 17px; }
  .mail {
    display: none; }
    .mail::before {
      display: none; }
  .burger {
    font-size: 13px;
    width: 30px;
    height: 29px; }
    .burger__item {
      width: 15px; }
    .burger--active .burger__item--1 {
      transform: rotate(135deg) translate(5px, -5px); }
    .burger--active .burger__item--3 {
      transform: rotate(-135deg) translate(5px, 6px); }
  .main {
    margin-top: 60px; }
    .main__title {
      font-size: 22px; }
    .main__subtitle {
      font-size: 13px; }
  .banner {
    height: initial;
    padding: 35px 0;
    flex-direction: column; }
    .banner__content {
      width: 90%;
      margin-bottom: 30px; }
    .banner__title {
      font-size: 26px; }
    .banner__desc {
      font-size: 14px; }
    .banner__slider {
      width: 100%;
      position: static; }
  .slider__item__img {
    height: 330px; }
  .slider__pagintaions {
    left: 30px;
    bottom: 15px; }
    .slider__pagintaions button {
      width: 13px;
      height: 13px; }
  .slider__content {
    bottom: 15px;
    width: 180px;
    padding: 23px 0px; }
    .slider__content__title {
      font-size: 23px; }
    .slider__content__subtitle {
      font-size: 14px; }
  .orange-rectangle::before {
    display: none; }
  .orange-rectangle::after {
    display: none; }
  .btn {
    font-size: 12px; }
  .ourService {
    padding: 35px 0; }
    .ourService__widget__img {
      width: 100%; }
    .ourService__content {
      margin-bottom: 25px; }
    .ourService__title, .ourService__subtitle {
      width: 450px; }
    .ourService__info {
      padding-left: calc((100% - 450px)/2);
      padding-right: calc((100% - 450px)/2);
      margin: 1.15em 0; }
    .ourService__list--default {
      width: 50%;
      padding: 13px 11px 13px 0px; }
    .ourService__list--white {
      width: 50%;
      padding: 23px 30px; }
    .ourService__list__title {
      font-size: 13px; }
    .ourService__list__link {
      font-size: 11px;
      padding-left: 12px; }
      .ourService__list__link::before {
        width: 6px;
        height: 6px; }
  .about {
    height: initial;
    padding: 35px 0;
    flex-direction: column; }
    .about__widget {
      position: static;
      margin-top: 30px;
      width: 100%; }
    .about__content {
      width: 90%; }
    .about__desc {
      font-size: 13px; }
  .become-our-client__container {
    padding: 25px 0; }
  .become-our-client__title {
    font-size: 24px; }
  .become-our-client__item {
    flex-basis: 48%;
    padding-left: 35px;
    margin-bottom: 1em; }
    .become-our-client__item__img {
      width: 30px; }
    .become-our-client__item__title {
      font-size: 14px; }
    .become-our-client__item__desc {
      font-size: 11px; }
  .p-service-banner {
    height: 160px; }
  .p-service-body {
    padding: 25px 0; }
    .p-service-body__container {
      flex-direction: column-reverse;
      align-items: center; }
    .p-service-body::before {
      display: none; }
    .p-service-body__aside {
      width: 75%;
      margin-top: 25px; }
    .p-service-body__grid {
      width: 100%;
      height: 900px;
      grid-gap: 12px;
      padding: 25px 0; }
    .p-service-body__inner {
      width: 100%; }
      .p-service-body__inner__gallery {
        grid-template-rows: 130px 130px 180px; }
  .p-title {
    font-size: 24px;
    width: 100%; }
  .footer__info {
    padding: 13px 13px 25px 0;
    font-size: 11px; }
  .footer__nav {
    padding: 1.3em 0 2.5em; }
    .footer__nav__main-link {
      font-size: 1.1em; }
    .footer__nav__link {
      font-size: 1em; }
  .footer__other {
    padding: 1.3em 0 2.5em 2.2em; }
    .footer__other__dosc {
      margin-bottom: 1.3em; }
    .footer__other__social__link--wrap {
      margin-top: 0.4em; }
    .footer__other__title {
      font-size: 1.1em; }
    .footer__other__docs__link {
      font-size: 1em; }
    .footer__other__social__link__img {
      width: 22px;
      margin-right: 6px; }
    .footer__other__copyright {
      margin-top: 1.3em; }
      .footer__other__copyright__text {
        font-size: 1em;
        margin-top: .3em; }
      .footer__other__copyright__img {
        width: 70px; }
  .triangle-title {
    font-size: 3.1em; }
    .triangle-title--wrap {
      height: 130px;
      clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 100%, 0 30%); }
  .company-desc {
    margin: 3.3em 0; }
    .company-desc__container {
      font-size: 1.1em; }
  .company-reasons {
    margin-bottom: 5em; }
    .company-reasons__title {
      font-size: 2.2em; }
    .company-reasons__items--wrap {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .company-reasons__item {
      font-size: 1.1em;
      width: 60%;
      margin-bottom: 7em; }
      .company-reasons__item:last-child {
        margin-bottom: 0; }
      .company-reasons__item--center {
        width: 60% !important; }
        .company-reasons__item--center::before {
          left: 50%;
          width: .25em;
          top: initial;
          bottom: calc(100% + 1em);
          transform: translateX(-50%);
          height: 4.5em; }
        .company-reasons__item--center::after {
          right: 50%;
          width: .25em;
          top: initial;
          top: calc(100% + 1em);
          transform: translateX(50%);
          height: 4.5em; }
      .company-reasons__item__img {
        width: 120px; }
      .company-reasons__item__text {
        border-radius: 12px; }
  .company-feedback {
    margin-bottom: 5em; }
    .company-feedback__container {
      justify-content: center;
      align-items: flex-start; }
    .company-feedback__img {
      display: none; }
    .company-feedback__form {
      width: 100%;
      padding: 2.8em 2.2em; }
  .stocks-body {
    margin: 3.1em 0 5.5em; }
  .stocks-info {
    width: 95%;
    padding: 3.5em 4em 2em; }
    .stocks-info__title {
      font-size: 2.1em; }
    .stocks-info__desc {
      font-size: 1.4em; }
    .stocks-info__discounts {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 3.5em 4em 1em; }
      .stocks-info__discounts__item {
        width: 60%; }
      .stocks-info__discounts__value {
        font-size: 3.5em;
        border-radius: 5px; }
      .stocks-info__discounts__text {
        font-size: 1.3em;
        margin-bottom: 2em; }
    .stocks-info__text-footer {
      font-size: 1.4em; }
  .stocks-form {
    font-size: 1.3em;
    padding: 2em 4em; }
    .stocks-form__top {
      margin-bottom: 0em;
      flex-direction: column; }
    .stocks-form__label {
      width: 100%;
      margin-bottom: .8em; }
      .stocks-form__label__input {
        border-radius: 5px; }
    .stocks-form__textarea-label textarea {
      height: 130px;
      border-radius: 5px; }
    .stocks-form__btn {
      border-radius: 5px; } }

@media (max-width: 500px) {
  .container {
    width: 305px; }
  .header {
    height: 50px; }
    .header__item {
      padding-left: 18px; }
      .header__item__link {
        font-size: 10px; }
      .header__item__subtitle {
        font-size: 10px; }
    .header__menu {
      font-size: 12px; }
      .header__menu--wrap {
        max-width: 230px; }
      .header__menu--active {
        height: 270px !important; }
  .logo--wrap {
    width: 105px; }
  .tel::before {
    width: 15px;
    height: 15px; }
  .main {
    margin-top: 50px; }
    .main__title {
      font-size: 19px; }
    .main__subtitle {
      font-size: 12px; }
  .banner {
    padding: 25px 0; }
    .banner__content {
      width: 97%; }
    .banner__title {
      font-size: 22px; }
    .banner__desc {
      font-size: 12px; }
  .slider__item__img {
    height: 220px; }
  .slider__pagintaions {
    left: 15px;
    bottom: 10px; }
    .slider__pagintaions button {
      width: 12px;
      height: 12px;
      margin-right: 3px; }
  .slider__content {
    bottom: 10px;
    left: 45%;
    width: 160px;
    padding: 15px 0px; }
    .slider__content__title {
      font-size: 20px; }
    .slider__content__subtitle {
      font-size: 12px;
      line-height: 1.3em; }
  .btn {
    font-size: 11px; }
  .ourService {
    padding: 25px 0; }
    .ourService__content {
      margin-bottom: 20px; }
    .ourService__title, .ourService__subtitle {
      width: 305px; }
    .ourService__info {
      width: 305px;
      margin: 1.1em 0;
      height: 380px;
      position: relative;
      flex-direction: column;
      padding: 0; }
    .ourService__list--default {
      width: 100%;
      padding: 21px 25px; }
    .ourService__list--white {
      padding: 21px 25px;
      right: 0;
      bottom: 0;
      width: calc(100% + 20px);
      margin-left: -10px; }
  .about {
    padding: 25px 0; }
    .about__content {
      width: 97%; }
    .about__desc {
      font-size: 12px; }
    .about__widget {
      margin-top: 25px; }
  .become-our-client__container {
    padding: 20px 0; }
  .become-our-client__title {
    font-size: 20px; }
  .become-our-client__content {
    flex-direction: column; }
  .become-our-client__item {
    flex-basis: 100%; }
  .p-service-banner {
    height: 110px; }
  .p-service-body {
    padding: 20px 0; }
    .p-service-body__aside {
      width: 80%;
      padding: 12px 20px;
      margin-top: 20px; }
      .p-service-body__aside__title {
        font-size: 13px; }
      .p-service-body__aside__nav {
        font-size: 11px; }
      .p-service-body__aside__button {
        border-radius: 6px;
        font-size: 11px; }
    .p-service-body__grid {
      height: 700px;
      grid-gap: 10px;
      padding: 20px 0; }
      .p-service-body__grid__title {
        font-size: 11px; }
    .p-service-body__inner {
      font-size: 11px;
      padding: 1.4em 1.6em; }
      .p-service-body__inner__img {
        height: 85px; }
      .p-service-body__inner__gallery {
        grid-gap: 5px;
        grid-template-rows: 90px 90px 130px; }
  .p-title {
    font-size: 20px; }
  .footer__container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; }
  .footer__info {
    width: 100%;
    padding: 15px 20px; }
  .footer__nav {
    order: 0;
    width: 100%;
    padding: 15px 20px; }
    .footer__nav::before, .footer__nav::after {
      display: none; }
    .footer__nav__left {
      width: 48%; }
    .footer__nav__right {
      width: 42%; }
  .footer__other {
    width: 100%;
    padding: 15px 20px; }
  .triangle-title {
    font-size: 2.6em; }
    .triangle-title--wrap {
      height: 120px;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%); }
  .company-desc {
    margin: 3em 0; }
    .company-desc__container {
      font-size: 1.05em;
      padding: 3.5em; }
  .company-reasons {
    margin-bottom: 4em; }
    .company-reasons__title {
      font-size: 2em; }
    .company-reasons__item {
      font-size: 1.05em;
      width: 90%;
      margin-bottom: 6em; }
      .company-reasons__item--center {
        width: 90% !important; }
        .company-reasons__item--center::before {
          bottom: calc(100% + .8em); }
        .company-reasons__item--center::after {
          top: calc(100% + .8em); }
      .company-reasons__item__img {
        width: 110px; }
      .company-reasons__item__text {
        border-radius: 10px; }
  .company-feedback {
    margin-bottom: 4em; }
    .company-feedback__form {
      padding: 2.5em 2em; }
      .company-feedback__form__title {
        font-size: 1.8em;
        border-radius: 10px; }
    .company-feedback__label {
      font-size: 1.3em; }
    .company-feedback .company-feedback__label textarea {
      height: 120px; }
    .company-feedback__btn {
      font-size: 1.4em;
      border-radius: 6px; }
  .stocks-body {
    margin: 2.7em 0 5em; }
  .stocks-info {
    width: 100%;
    padding: 2em 2.5em 1.6em; }
    .stocks-info__title {
      font-size: 1.7em; }
    .stocks-info__desc {
      font-size: 1.2em; }
    .stocks-info__discounts {
      width: 90%;
      padding: 3em 3.5em 1em; }
      .stocks-info__discounts__item {
        width: 100%; }
      .stocks-info__discounts__value {
        font-size: 3em;
        border-radius: 4px; }
      .stocks-info__discounts__text {
        font-size: 1.1em;
        margin-bottom: 1.8em; }
    .stocks-info__text-footer {
      font-size: 1.2em;
      width: 100%; }
  .stocks-form {
    font-size: 1.2em;
    padding: 1.5em 2.5em; }
    .stocks-form__label__input {
      border-radius: 4px; }
    .stocks-form__textarea-label textarea {
      height: 100px;
      border-radius: 4px; }
    .stocks-form__btn {
      border-radius: 4px; } }
