*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth; }

ul[class],
ol[class] {
  padding: 0;
  list-style: none; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

a {
  text-decoration: none; }

html {
  font-size: 10px;
  line-height: 1.2; }

body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: #000;
  overflow-x: hidden;
  font-family: 'Lato Regular'; }

section {
  max-width: 1920px; }

::selection {
  color: #D8AB56;
  background-color: #000822; }

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #2F2F2F; }

*::-webkit-scrollbar-thumb {
  background: #FBA549;
  border-radius: 2px; }
