.p-service-grid-item-1 {
    grid-area: item-1;
    background: url(/img/p-service-grid-item/p-service-grid-item-1.jpg) center / cover no-repeat;

}
.p-service-grid-item-2 {
    grid-area: item-2;
    background: url(/img/p-service-grid-item/p-service-grid-item-2.jpg) center / cover no-repeat;
}
.p-service-grid-item-3 {
    grid-area: item-3;
    background: url(/img/p-service-grid-item/p-service-grid-item-3.jpg) center / cover no-repeat;
}
.p-service-grid-item-4 {
    grid-area: item-4;
    background: url(/img/p-service-grid-item/p-service-grid-item-4.jpg) center / cover no-repeat;
}
.p-service-grid-item-5 {
    grid-area: item-5;
    background: url(/img/p-service-grid-item/p-service-grid-item-5.jpg) center / cover no-repeat;
}
.p-service-grid-item-6 {
    grid-area:item-6;
    background: url(/img/p-service-grid-item/p-service-grid-item-6.jpg) center / cover no-repeat;
}
.p-service-grid-item-7 {
    grid-area: item-7;
    background: url(/img/p-service-grid-item/p-service-grid-item-7.jpg) center / cover no-repeat;
}
.p-service-grid-item-8 {
    grid-area: item-8;
    background: url(/img/p-service-grid-item/p-service-grid-item-8.jpg) center / cover no-repeat;
}
.p-service-grid-item-9 {
    grid-area: item-9;
    background: url(/img/p-service-grid-item/p-service-grid-item-9.jpg) center / cover no-repeat;
}
.p-service-grid-item-10 {
    grid-area: item-10;
    background: url(/img/p-service-grid-item/p-service-grid-item-10.jpg) center / cover no-repeat;
}
.p-service-grid-item-11 {
    grid-area: item-11;
    background: url(/img/p-service-grid-item/p-service-grid-item-11.jpg) center / cover no-repeat;
}
.p-service-grid-item-12 {
    grid-area: item-12;
    background: url(/img/p-service-grid-item/p-service-grid-item-12.jpg) center / cover no-repeat;
}