.popup {
    background-color: #F8F3E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6em;
    padding: 4em 3.5em 3em;
    width: 470px;
    position: relative;
}