.popup__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 121px;
    color: #392601;
    margin-bottom: 2em;
}