.title_text {
    font-family: "RussoOne";
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
    padding: 0.25em;
    background-color: #7e01fc;
    letter-spacing: 0.1em;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}