.title {
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 3.6em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #AE7E24;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}