.our-services__item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 85%;
    margin-bottom: 4em;
    height: 165px;
}