.our-services__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    height: 430px;
    position: relative;
    background-color: #F8F3E5;
}