.our-services__item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 87%;
    margin-bottom: 1.5em;
    height: 120px;
    transition: .2s;
    overflow: hidden;
}