.our-services__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    position: relative;
    background: linear-gradient(to top, #F8F3E5 80%, #fff 80%);
    cursor: pointer;
    &:hover {
        .our-services__item-btn {
            transform: translateY(-3.5em);
        }
    }
}