.partner-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(/img/partner-banner/partner-banner.png) center / 100% auto no-repeat;
}