.partner-banner__title {
    font-family: "RussoOne";
    color: #7e01fc;
    font-size: 8.6em;
    line-height: 1.15em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.35em;
}