.stocks-info__discounts__value {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 5.5em;
    line-height: 1em;
    padding: .6em .3em;
    background: radial-gradient(133.46% 133.46% at 47.19% -5.91%, #FFE7CE 0%, #FF9526 44.79%, #FF8200 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}