.btn {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, #FF8200 100%), #EE7E07;
    border: 1px solid #BC7F3F;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1B1B1B;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: .75em .9em;
    cursor: pointer;
    outline: none;
    transition: all .3s;
    &:hover {
        box-shadow: 0px 0px 20px rgba(238, 126, 7, 0.6), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}