.about {
    width: 100%;
    position: relative;
    background-image: url(/img/about/about-bgc.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}