.about {
    width: 100%;
    position: relative;
    background-image: url(/img/about/about-bgc.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 110%;
    height: calc(560px + 200px);
    padding: 50px 0 100px;
    display: flex;
    align-items: center;
}