.p-service-gallery-img-1 {
   grid-area: img-1; 
}
.p-service-gallery-img-2{
    grid-area: img-2; 
 }
 .p-service-gallery-img-3 {
    grid-area: img-3; 
 }
 .p-service-gallery-img-4 {
    grid-area: img-4; 
 }