.company-feedback__form__title {
    font-size: 2.8em;
    line-height: 1.2em;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 47, 47, 0.8);
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-bottom: 0.7em;
}