.p-info-body__service__link {
    color: #000000;
    letter-spacing: 0.02em;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1em;
    line-height: 1.2em;
    margin-bottom: 1em;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 0.5em;
        height: 0.5em;
        background-color: #EE7E07;
    }
}