.p-info-body__form {
    width: 90%;    
    background: radial-gradient(59.97% 59.97% at 50.14% -9.97%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(57.79% 57.79% at 50% 114.73%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FFAD58;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    line-height: 1.2em;
    padding: 3em 5em;
    margin-bottom: 5em;
}