.p-info-body__form__textarea-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: .8em;
}
.p-info-body__form__textarea-label textarea {
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding: .8em 1em;
    border-radius: 10px;
    border: none;
    resize: none;
    &::placeholder {
        color: #525252;
        font-style: italic;
        font-size: 0.9em;
    }
}