.request {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(/public/img/request/request.jpg) center / cover no-repeat;
}