.request__title {
    color: #F8F3E5;
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
}