.company-desc__paragraph--wrap {
    transform: rotate(-2.85deg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: calc(100% + 2em);
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        height: 0.25em;
        background-color: #FF8200;
    }
    &::after {
        content: '';
        position: absolute;
        top: calc(100% + 2em);
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        height: 0.25em;
        background-color: #FF8200;
    }
}