@font-face {
  font-family: 'Lato Regular';
  src: url("/public/fonts/Lato-Regular.eot");
  src: url("/public/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato-Regular.woff") format("woff"), url("/public/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("/public/fonts/Lato-Bold.eot");
  src: url("/public/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato-Bold.woff") format("woff"), url("/public/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
