@media (max-width: 1700px) {
  section {
    padding: 4.5em 0; }
  .container {
    width: 1300px; }
  .title {
    font-size: 3.4em; }
  .header {
    height: 75px; }
    .header__container {
      font-size: 1.6em; }
    .header__logo {
      width: 95px; }
  .banner {
    min-height: calc(100vh - 75px); }
    .banner__logo {
      width: 450px; }
    .banner__icons {
      width: 450px;
      font-size: 1.65em; }
    .banner__title {
      font-size: 2.7em; }
    .banner__btn {
      font-size: 2.1em; }
  .our-services__inner {
    font-size: 2.5em; }
  .our-services__item {
    width: 390px; }
    .our-services__item-text {
      height: 105px; }
    .our-services__item-btn {
      font-size: 0.7em;
      top: 105%; }
  .our-menu__item {
    width: 290px;
    margin: 0 17px 2em 17px;
    font-size: 1.7em; }
    .our-menu__item-img {
      height: 290px; }
  .our-menu__btn {
    font-size: 2.2em; }
  .advantages__inner {
    font-size: 2.2em; }
  .advantages__img {
    height: 135px; }
  .company__inner {
    font-size: 1.65em; }
  .company__img_wrap {
    width: 600px; }
  .company__text {
    width: 800px; }
  .operation-condition__inner {
    font-size: 1.9em; }
  .operation-condition__img {
    height: 130px; }
  .feedback__item {
    font-size: 1.45em; }
  .feedback__text {
    height: 240px; }
  .slick-prev, .slick-next {
    width: 35px;
    height: 70px; }
  .request__inner {
    width: 50%;
    font-size: 1em; }
  .footer__container {
    font-size: 1.6em; }
  .footer__logo {
    width: 170px; }
  .modal {
    font-size: 1.6em; }
    .modal__input {
      width: 300px; }
  .header__modal_active, .footer__modal_active {
    height: 273px !important;
    right: calc((100% - 1300px) / 2); }
  .header__modal_active {
    top: 75px; }
  .footer__modal_active {
    bottom: 250px; } }

@media (max-width: 1500px) {
  section {
    padding: 4em 0; }
  .container {
    width: 1100px; }
  .title {
    font-size: 3em; }
  .header {
    height: 65px; }
    .header__container {
      font-size: 1.4em; }
    .header__logo {
      width: 80px; }
    .header__socials-mail {
      padding: 0 1.1em; }
  .nav__link {
    margin: 0 .8em; }
  .socials-links {
    width: 4em; }
  .vk-link {
    width: 1.7em;
    height: 1.7em; }
  .instagram-link {
    width: 1.7em;
    height: 1.7em; }
  .banner {
    min-height: calc(100vh - 65px); }
    .banner__logo {
      width: 370px; }
    .banner__icons {
      width: 370px;
      font-size: 1.4em; }
    .banner__title {
      font-size: 2.3em; }
    .banner__btn {
      font-size: 1.75em; }
  .our-services__inner {
    font-size: 2.2em; }
  .our-services__item {
    width: 340px; }
    .our-services__item-text {
      height: 95px; }
  .our-menu__item {
    width: 250px;
    margin: 0 12px 2em 12px;
    font-size: 1.5em; }
    .our-menu__item-img {
      height: 250px; }
  .our-menu__btn {
    font-size: 2em; }
  .advantages__inner {
    font-size: 2em; }
  .advantages__img {
    height: 120px; }
  .company__inner {
    font-size: 1.45em; }
  .company__img_wrap {
    width: 530px; }
  .company__text {
    width: 650px; }
  .operation-condition__inner {
    font-size: 1.65em; }
  .operation-condition__img {
    height: 110px; }
  .operation-condition__item {
    width: 22%; }
  .feedback__item {
    font-size: 1.3em; }
  .feedback__text {
    height: 220px; }
  .slick-prev, .slick-next {
    width: 30px;
    height: 60px; }
  .slick-prev {
    right: 100.1%; }
  .slick-next {
    left: 100.1%; }
  .request__inner {
    font-size: .8em; }
  .footer__container {
    font-size: 1.4em; }
  .footer__logo {
    width: 150px; }
  .footer__nav {
    width: 35%; }
  .modal {
    font-size: 1.4em; }
    .modal__input {
      width: 270px; }
  .header__modal_active, .footer__modal_active {
    height: 240px !important;
    right: calc((100% - 1100px) / 2); }
  .header__modal_active {
    top: 65px; }
  .footer__modal_active {
    bottom: 219px; } }

@media (max-width: 1200px) {
  section {
    padding: 3.5em 0; }
  .container {
    width: 900px; }
  .title {
    font-size: 2.8em; }
  .header {
    height: 50px; }
    .header__container {
      width: 900px;
      justify-content: space-between;
      padding-bottom: .8em;
      font-size: 1.2em; }
    .header__logo {
      width: 75px;
      transform: translateY(0.3em); }
  .nav {
    display: none; }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 25px;
    height: 20px;
    margin: 0 20px 3px 0; }
    .burger__item {
      width: 100%;
      height: 2px;
      background-color: #D8AB56;
      transition: .2s; }
    .burger__header_active .burger__header-item-1 {
      transform: rotate(135deg) translateY(-8px) translateX(5px); }
    .burger__header_active .burger__header-item-2 {
      transform: rotate(360deg);
      opacity: 0; }
    .burger__header_active .burger__header-item-3 {
      transform: rotate(-135deg) translateY(7px) translateX(5px); }
    .burger__footer_active .burger__footer-item-1 {
      transform: rotate(135deg) translateY(-8px) translateX(5px); }
    .burger__footer_active .burger__footer-item-2 {
      transform: rotate(360deg);
      opacity: 0; }
    .burger__footer_active .burger__footer-item-3 {
      transform: rotate(-135deg) translateY(7px) translateX(5px); }
  .header__mobile {
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    transition: .5s;
    height: 0;
    width: 250px; }
  .header__mobile_active {
    transition: .5s;
    height: 150px;
    background-color: #000822; }
  .footer__mobile {
    position: absolute;
    bottom: 100%;
    right: 0;
    overflow: hidden;
    transition: .5s;
    height: 0;
    width: 250px; }
  .footer__mobile_active {
    transition: .5s;
    height: 150px;
    background-color: #000; }
  .mobile__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5em; }
  .mobile__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .mobile__nav .nav__link {
      margin: 0 0 1em; }
      .mobile__nav .nav__link:last-child {
        margin-bottom: 0; }
  .banner {
    min-height: calc(100vh - 50px); }
    .banner__logo {
      width: 300px; }
    .banner__icons {
      width: 300px;
      font-size: 1.2em; }
    .banner__title {
      font-size: 2.1em; }
    .banner__btn {
      font-size: 1.55em; }
  .our-services__inner {
    font-size: 1.9em; }
  .our-services__item {
    width: 275px; }
    .our-services__item-text {
      height: 80px; }
  .our-menu__item {
    width: 205px;
    margin: 0 8px 2em 8px;
    font-size: 1.3em; }
    .our-menu__item-img {
      height: 190px; }
    .our-menu__item-text {
      padding: 1.2em 1.2em 2.1em; }
  .our-menu__btn {
    font-size: 1.6em; }
  .advantages__inner {
    font-size: 1.8em; }
  .advantages__img {
    height: 105px; }
  .company__inner {
    font-size: 1.3em; }
  .company__img_wrap {
    width: 430px; }
  .company__text {
    width: 500px;
    padding: 1.5em 3em 8em 4.5em; }
  .operation-condition__inner {
    font-size: 1.5em; }
  .operation-condition__img {
    height: 95px; }
  .feedback__item {
    font-size: 1.15em; }
  .feedback__text {
    height: 136px; }
  .slick-prev, .slick-next {
    width: 20px;
    height: 40px; }
  .slick-prev {
    right: 101%; }
  .slick-next {
    left: 101%; }
  .request__inner {
    font-size: .7em; }
  .footer__container {
    position: relative;
    font-size: 1.3em; }
  .footer__logo {
    width: 130px; }
  .footer__socials {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .footer__socials-links {
      margin: 0 0 0 2em; }
  .footer__tel {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .footer__tel-link {
      margin: 0 2em 0 0; }
  .modal {
    font-size: 1.3em; }
    .modal__input {
      width: 250px; }
  .header__modal_active, .footer__modal_active {
    height: 222px !important;
    right: calc((100% - 900px) / 2); }
  .header__modal_active {
    top: 50px; }
  .footer__modal_active {
    bottom: 164px; } }

@media (max-width: 1000px) {
  section {
    padding: 3em 0; }
  .container {
    width: 650px; }
  .title {
    font-size: 2.5em; }
  .header {
    height: 45px; }
    .header__container {
      width: 650px;
      padding-bottom: .6em;
      font-size: 1.05em; }
    .header__logo {
      width: 65px; }
  .burger {
    width: 23px;
    height: 18px;
    margin: 0 17px 3px 0; }
    .burger__item {
      height: 2px; }
    .burger__header_active .burger__header-item-1 {
      transform: rotate(135deg) translateY(-6px) translateX(5px); }
    .burger__header_active .burger__header-item-3 {
      transform: rotate(-135deg) translateY(6px) translateX(5px); }
    .burger__footer_active .burger__footer-item-1 {
      transform: rotate(135deg) translateY(-6px) translateX(5px); }
    .burger__footer_active .burger__footer-item-3 {
      transform: rotate(-135deg) translateY(6px) translateX(5px); }
  .header__mobile {
    width: 220px; }
  .header__mobile_active {
    height: 135px; }
  .footer__mobile {
    width: 220px; }
  .footer__mobile_active {
    height: 135px; }
  .banner {
    min-height: calc(100vh - 45px); }
    .banner__logo {
      width: 250px; }
    .banner__icons {
      width: 250px;
      font-size: 1.05em; }
    .banner__title {
      font-size: 1.8em; }
    .banner__btn {
      font-size: 1.35em; }
  .our-services__inner {
    font-size: 1.5em; }
  .our-services__item {
    width: 205px; }
    .our-services__item-img {
      width: 90%; }
    .our-services__item-text {
      width: 90%;
      height: 60px; }
  .our-menu__item {
    width: 150px;
    margin: 0 5px 2em 5px;
    font-size: 1.05em; }
    .our-menu__item-img {
      height: 130px; }
    .our-menu__item-text {
      padding: 1em 1em 1.7em; }
  .our-menu__btn {
    font-size: 1.3em; }
  .advantages__inner {
    font-size: 1.45em; }
  .advantages__img {
    height: 85px; }
  .company__inner {
    font-size: 1.1em; }
  .company__img_wrap {
    width: 305px; }
  .company__text {
    width: 360px;
    padding: 1.3em 2.2em 5em 2.4em; }
  .operation-condition__inner {
    font-size: 1.2em; }
  .operation-condition__img {
    height: 70px; }
  .feedback__item {
    font-size: 1.05em;
    padding: 1.5em 2.5em 2.5em; }
  .feedback__text {
    height: 150px; }
  .slick-slide {
    margin: 0 1em; }
  .slick-prev, .slick-next {
    width: 15px;
    height: 30px; }
  .slick-prev {
    right: 100.2%; }
  .slick-next {
    left: 100.2%; }
  .request__inner {
    font-size: .6em;
    padding: 1.5em 4em 3.5em 0; }
  .footer__container {
    font-size: 1.1em; }
  .footer__logo {
    width: 100px; }
  .footer__socials-links {
    margin: 0 0 0 1em; }
  .footer__tel-link {
    margin: 0 1em 0 0; }
  .modal {
    font-size: 1.1em; }
    .modal__input {
      width: 210px; }
  .header__modal_active, .footer__modal_active {
    height: 187px !important;
    right: calc((100% - 650px) / 2); }
  .header__modal_active {
    top: 45px; }
  .footer__modal_active {
    bottom: 134px; } }

@media (max-width: 700px) {
  section {
    padding: 2.5em 0; }
  .container {
    width: 450px; }
  .title {
    font-size: 2.2em; }
  .header__container {
    width: 450px;
    padding-bottom: .8em;
    font-size: 1.05em; }
  .header__socials {
    display: none; }
  .header__tel-link {
    position: relative; }
    .header__tel-link::before {
      content: '';
      position: absolute;
      right: 105%;
      top: 0;
      width: 0.07em;
      height: 100%;
      background-color: #D8AB56; }
  .header__tel-btn {
    display: none; }
  .header__logo {
    width: 60px; }
  .header__socials-mail {
    padding: 0; }
    .header__socials-mail::before {
      content: '';
      width: 0em; }
    .header__socials-mail::after {
      width: 0em; }
  .burger {
    width: 20px;
    height: 16px;
    margin: 0 15px 2px 0; }
    .burger__header_active .burger__header-item-1 {
      transform: rotate(135deg) translateY(-5px) translateX(5px); }
    .burger__header_active .burger__header-item-3 {
      transform: rotate(-135deg) translateY(5px) translateX(5px); }
    .burger__footer_active .burger__footer-item-1 {
      transform: rotate(135deg) translateY(-5px) translateX(5px); }
    .burger__footer_active .burger__footer-item-3 {
      transform: rotate(-135deg) translateY(5px) translateX(5px); }
  .header__mobile {
    width: 210px; }
  .header__mobile_active {
    height: 285px; }
  .footer__mobile {
    width: 210px; }
  .footer__mobile_active {
    height: 285px; }
  .mobile__nav {
    width: 100%;
    position: relative;
    padding-bottom: 2.5em;
    margin-bottom: 2.5em; }
    .mobile__nav .nav__link {
      margin: 0 0 1em; }
      .mobile__nav .nav__link:last-child {
        margin-bottom: 0; }
    .mobile__nav::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.1em;
      background-color: #d8ab56; }
  .mobile__btn {
    display: block; }
  .mobile__socials {
    display: block;
    margin-bottom: 2.5em; }
  .socials-links {
    justify-content: space-between;
    align-items: center;
    width: 5em;
    margin-bottom: 1.5em; }
  .vk-link {
    width: 2.2em;
    height: 2.2em; }
  .instagram-link {
    width: 2.2em;
    height: 2.2em; }
  .banner__logo {
    width: 250px; }
  .banner__icons {
    width: 90%;
    justify-content: space-around;
    font-size: 1.05em; }
  .banner__title {
    font-size: 1.5em; }
  .banner__btn {
    font-size: 1.2em; }
  .our-services__inner {
    font-size: 1.3em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .our-services__item {
    width: 200px;
    margin-bottom: 1.5em;
    overflow: hidden; }
    .our-services__item:last-child {
      margin-bottom: 0; }
    .our-services__item-text {
      height: 52px; }
  .our-menu__item {
    width: 200px;
    margin: 0 12px 2em 12px; }
    .our-menu__item-img {
      height: 200px; }
  .advantages__inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .advantages__item {
    margin-bottom: 2.5em; }
    .advantages__item:last-child {
      margin-bottom: 0; }
  .company {
    background: linear-gradient(to bottom, #fff 25%, #F8F3E5 25%); }
    .company__inner {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
    .company__img_wrap {
      width: 100%;
      position: static; }
    .company__text {
      width: 70%;
      padding: 2em 0;
      margin-top: 0em; }
  .operation-condition__inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .operation-condition__img {
    margin-bottom: 1em; }
  .operation-condition__item {
    width: 80%;
    margin-bottom: 2em; }
    .operation-condition__item:last-child {
      margin-bottom: 0; }
  .operation-condition__desc {
    width: 100%; }
  .feedback__text {
    height: 95px; }
  .slick-slide {
    margin: 0 .5em; }
  .slick-prev, .slick-next {
    width: 10px;
    height: 20px; }
  .request__container {
    align-items: center; }
  .request__inner {
    width: 90%;
    font-size: .6em;
    padding: 0; }
  .footer__logo {
    width: 85px; }
  .footer__socials {
    display: none; }
  .footer__tel-link {
    margin: 0 7em 0 0;
    position: relative; }
    .footer__tel-link::before {
      content: '';
      position: absolute;
      right: 105%;
      top: 0;
      width: 0.1em;
      height: 100%;
      background-color: #D8AB56; }
  .footer__tel-btn {
    display: none; }
  .modal {
    font-size: 1em; }
    .modal__input {
      width: 190px; }
  .header__modal_active, .footer__modal_active {
    height: 171px !important;
    right: calc((100% - 405px) / 2); }
  .footer__modal_active {
    bottom: 127px; } }

@media (max-width: 500px) {
  section {
    padding: 2em 0; }
  .container {
    width: 300px; }
  .title {
    font-size: 1.8em; }
  .header__container {
    width: 300px;
    padding-bottom: 1em;
    font-size: 1em; }
  .header__logo {
    width: 55px; }
  .burger {
    width: 18px;
    height: 14px;
    margin: 0 12px 3px 0; }
    .burger__header_active .burger__header-item-1 {
      transform: rotate(135deg) translateY(-4px) translateX(6px); }
    .burger__header_active .burger__header-item-3 {
      transform: rotate(-135deg) translateY(3px) translateX(4px); }
    .burger__footer_active .burger__footer-item-1 {
      transform: rotate(135deg) translateY(-4px) translateX(6px); }
    .burger__footer_active .burger__footer-item-3 {
      transform: rotate(-135deg) translateY(3px) translateX(4px); }
  .header__mobile {
    width: 200px; }
  .header__mobile_active {
    height: 273px; }
  .footer__mobile {
    width: 200px; }
  .footer__mobile_active {
    height: 273px; }
  .banner__logo {
    width: 90%; }
  .banner__icons {
    width: 100%;
    justify-content: space-between;
    font-size: 1em; }
  .banner__title {
    font-size: 1.4em; }
  .our-menu__inner {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .our-menu__item {
    width: 200px;
    margin: 0 0 2em; }
  .company {
    background: linear-gradient(to bottom, #fff 30%, #F8F3E5 30%); }
    .company__inner {
      font-size: .9em; }
    .company__text {
      width: 90%;
      padding: 2em 0 1em; }
  .operation-condition__item {
    width: 95%; }
  .feedback__item {
    font-size: 1em;
    padding: 1.2em 2.2em 2.2em; }
  .feedback__text {
    height: 130px; }
  .slick-slide {
    margin: 0; }
  .slick-prev, .slick-next {
    display: none; }
  .request__inner {
    width: 100%; }
  .footer__container {
    font-size: 1em;
    padding: 3em 0; }
  .footer__logo {
    width: 75px; }
  .footer__tel-link {
    margin: 0 2em 0 0; }
  .modal {
    font-size: .9em; }
    .modal__input {
      width: 170px; }
  .header__modal_active, .footer__modal_active {
    height: 152px !important;
    right: calc((100% - 300px) / 2); }
  .footer__modal_active {
    bottom: 115px; } }
