.form-winners {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input[type="date"] {
        border: none;
        outline-color: #7e01fc;
        padding: .4em .4em .4em 3em;
        position: relative;
    }
    input[type="date"]::-webkit-datetime-edit-text { 
        padding: 0 0.1em; 
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url(/img/form-winners/form-winners__date.png) center / contain no-repeat;
        width: 1.3em;
        height: 1em;
        cursor: pointer;
        position: absolute;
        left: .4em;
    }
    input[type="date"]::-webkit-inner-spin-button { 
        display: none;
    }
    input[type="date"]::-webkit-clear-button {
        display: none;
    }
}
