.form-winners__search {
    font-size: .8em;
    position: relative;
    input[type="tel"] {
        border: none;
        border-radius: 5px;
        border: 3px solid #7e01fc;
        width: 350px;
        padding: .8em .8em .8em 3em;
        font-style: italic;
        color: #000000;
        font-family: "Museo Sans 300";
        outline: none;
        
    }
    input[type="submit"] {
        border: none;
        background-color:transparent;
        cursor: pointer;
        position: absolute;
        left: 0.5em;
        top: 0;
        width: 2em;
        height: 100%;
        background: url(/img/form-winners/form-winners__search.png) center / contain no-repeat;
    }
}