.company-reasons__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
    width: 27%;
}