.partnership-step__num {
    font-family: "Museo Sans 900";
    background-color: #fdd832;
    color: #fff;
    margin-top: -1.5%;
    margin-left: -1.5%;
    margin-bottom: -0.5%;
    font-size: 3em;
    line-height: .5em;
    text-align: center;
    text-shadow: 0.05em .05em .2em rgba(#000, .5);
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-radius: .25em;
}