.burger--active .burger__item--1 {
    transform: rotate(135deg) translate(8px, -9px);
}
.burger--active .burger__item--2 {
    transform: rotate(360deg);
    opacity: 0;
}
.burger--active .burger__item--3 {
    transform: rotate(-135deg) translate(8px, 9px);

}
.burger--active {
    &::before {
        transform: translateY(95%);
    }
    .burger__item {
        box-shadow: 0 0 5px #fff;
        background-color: #000;
    }
    .burger__title {
        color: #F17E01;
    }
}