.rules {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to top, #5300a7, #7e01fc, #4c0098);
}