.partners-download-app {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(/img/partners-download-app/partners-download-app.png) center / 100% auto no-repeat;
}