.become-partner {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(/img/become-partner/become-partner.png) center / 100% auto no-repeat;
}