.text-offers__title {
    text-transform: uppercase;
    color: #6c06f7;
    font-family: "RussoOne";
    font-size: 3em;
    line-height: 1.05em;
    letter-spacing: 0.03em;
    margin: .3em 0 .5em;
}