.main-user-content__label-input {
    width: 380px;
    border: .1em solid #9400FF;
    border-radius: .25em;
    padding: .7em;
    font-size: .8em;
    font-family: 'Museo Sans 300';
    color: #9400FF;
}