.main-page-content__drum-img {
    width: 100%;
    height: 100%;
    animation: rotate-drum 20s infinite;
}

@keyframes rotate-drum {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}