.main-page-content__links-item {
    color: #fff;
    background-color: #9400FF;
    font-family: 'Museo Sans 700';
    border: .1em solid #9400FF;
    padding: .7em 1.2em;
    margin: 0 0.5em;
    text-align: center;
    min-width: 245px;
    transition: all .2s ease-out;
    &:hover {
        background-color: #fff;
        color: #9400FF;
    }
}


