.banner {
    width: 100%;
    position: relative;
    background-image: url(/img/banner/banner-bgc.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    height: 750px;
    display: flex;
    align-items: center;
}