.slider__content__title {
    font-size: 38px;
    line-height: 1.7em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 900;
    color: #FF9B30;
    text-shadow: 0px 0px 6.41083px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-bottom: 0.4em;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 80%;
        height: 3px;
        background-color: #FBA549;
        left: 50%;
        transform: translateX(-50%);
    }
}