.footer__nav {
    display: flex;
    background-color: #F17E01;
    flex-basis: 35%;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 10px;
    padding: 2.5em 5em 6em;
}