.footer__docs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Museo Sans 300";
    font-size: 1.3em;
    letter-spacing: 0.05em;
}