.p-news-body__news-item__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    letter-spacing: 0.075em;
    color: #2F2F2F;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .85em;
    line-height: 1.2em;
    background-color: #FFAD58;
    cursor: pointer;
    padding: 0.4em 1em;
}