.p-news-body__news-item__title {
    width: 100%;
    letter-spacing: 0.04em;
    color: #2F2F2F;
    font-size: 1.35em;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}